/* .container-report-analytic .item-card .icon-report .hide-more-report img, .container-report-analytic .item-card .icon-report .show-more-report img {
    top: 10px;
    position: absolute;
    margin-left: 5px;
} */

.show-more-report {
    font-size: 1.4rem;
}

.hide-more-report {
    font-size: 1.4rem;
}
.next-heading > span {
    font-size: 1.4rem;
}

.report_info {
    font-size: 1.4rem;
}