# Maven Project
target/

# Gradle Project
build/
.gradle/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
out/
.idea/

# NetBeans
dist/
nbbuild/
nbdist/
nbproject/
.nb-gradle/

# Visual Studio Code
.vscode/

# Mac OS
.DS_Store