<th:block th:fragment="createCatModal">
    <div class="modal fade" id="modalAddCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Thêm loại sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="frmCreateCat" method="post">
                        <div >
                            <label class="mb-3">Tên loại sản phẩm</label>
                            <input type="text" id="inputCategory" name="" class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="sc-jqUVSM dgJIMY" data-bs-dismiss="modal">Thoát</button>
                    <button type="button" id="btnAddCategory" class="sc-jqUVSM cHdopB">
                        Thêm loại sản phẩm
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>