<th:block th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="/assets/admin/images/favicon.ico"/>
    <link rel="preconnect" type="text/html" href="https://cdn.jsdelivr.net" crossorigin/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" crossorigin/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/izitoast@1/dist/css/iziToast.min.css" crossorigin/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" crossorigin/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/datatables.net-dt@1/css/jquery.dataTables.min.css" crossorigin/>
    <link rel="stylesheet" type="text/css" href="https://sapo.dktcdn.net/sapo-frontend-x/e603c93.main.css" crossorigin/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <!--    c0522k1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiAvatar.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiButton.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiButtonBase.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiCardContent.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiCardContent.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiCardMedia.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiCollapse.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiCssBaseline.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiDialog.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiFormControl.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiGrid.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiIconButton.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiInputBase.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiLinearProgress.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiLink.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiList.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiListItem.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiListItemIcon.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiListItemText.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiMenu.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiOutlinedInput.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiPopover.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiSelect.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiSvgIcon.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiTooltip.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiTouchRipple.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/vendor/mui/MuiTypography.css"/>

    <link rel="stylesheet" type="text/css" href="/assets/admin/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/makeStyles/jss.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/makeStyles/privateNotchedOutline.css"/>
    <style>
        .mdl-js {
            overflow-x: hidden;
        }
    </style>
</th:block>