<th:block th:fragment="header">
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="../assets/images/Favicon.ico" />
    <link rel="stylesheet" href="https://sapo.dktcdn.net/sapo-frontend-x/e603c93.main.css" />
    <link rel="stylesheet" href="https://sapo.sapocdn.net/sapo-frontend-v3/master/static/css/main.81bf4fb1.css" />
    <link rel="stylesheet" href="/assets/admin/css/makeStyles/jss.css" />
    <link rel="stylesheet" href="/assets/admin/css/makeStyles/privateNotchedOutline.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiAvatar.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiButton.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiButtonBase.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiCardContent.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiCardMedia.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiCollapse.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiCssBaseline.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiDialog.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiFormControl.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiGrid.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiInputBase.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiLinearProgress.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiLink.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiList.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiListItem.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiListItemIcon.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiListItemText.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiMenu.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiOutlinedInput.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiPopover.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiSelect.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiSvgIcon.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiTooltip.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiTouchRipple.css" />
    <link rel="stylesheet" href="/assets/admin/css/vendor/mui/MuiTypography.css" />
    <script src="/assets/admin/css/customer/main.js"></script>
    <script src="https://sapo.dktcdn.net/sapo-frontend-x/a23a716.client.bundle.js"></script>
    <script>Page();</script>
</th:block>