<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="sapo-menu-expand sapo-menu-toggle-active" lang="vi-VN">
<th:block th:fragment="script">
    <script class="modal_source" define="{noticeSapoModal: new Components.Modal(this)}" type="text/html">
        <div class="modal-dialog modal-dialog-new" style="width: 625px;">
            <div class="modal-content">
                <div class="modal-header">
                  <span class="ui-dialog-title"
                        style="text-transform: uppercase; font-weight: 500; text-align: center;">
                    Thông báo
                  </span>
                    <span class="modal-close-wrapper" bind-event-click="closePopupNotice()">
                    <svg class="ui-icon-x ui-icon-x-20">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cancel-small-minor"></use>
                    </svg>
                  </span>
                </div>
                <div class="modal-body pull-center cancel-order">
                    <p style="font-size: 15px; text-align: left; line-height: 1.8;">
                        Hiện tại Sapo đang gặp sự cố máy chủ ảnh hưởng tới một phần dữ liệu cũ và dữ
                        liệu mới tạo không hiển thị ở danh sách và tìm kiếm.
                        Các phần đồng bộ kênh tạm thời đang ngắt.
                        Tuy nhiên anh/chị lưu ý dữ liệu chỉ tạm thời bị chậm nên anh/chị không cần thao
                        tác lại tránh bị lặp 2 lần.
                        Kỹ thuật Sapo đang khẩn trương khắc phục sự cố.<br/> Rất xin lỗi anh/chị về sự
                        cố không mong muốn này.<br/> Chân thành cảm ơn anh/chị.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="action-btn clearfix">
                        <a class="close-modal btn sapo-btn-blank pull-right" href="javascript:"
                           bind-event-click="closePopupNotice()">Thoát</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script class="modal_source" define="{addChannelModal: new Components.Modal(this)}" type="text/html"></script>
    <script class="modal_source" define="{createFulfillModal: new Components.Modal(this)}" type="text/html"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66880228-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-66880228-3');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push(
                {
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                }
            );
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQ8HRN');
    </script>
    <script class="modal_source" define="{popupNotConnectSapoExpressModal:new Components.Modal(this)}"
            type="text/html">
        <div class="modal-dialog modal-dialog-new">

            <div class="modal-content">
                <div class="modal-header">
                  <span class="ui-dialog-title">
                    Sapo Express
                  </span>
                    <span class="modal-close-wrapper">
                    <svg class="ui-icon-x ui-icon-x-20">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cancel-small-minor"></use>
                    </svg>
                  </span>
                </div>
                <div class="modal-body">
                    <div style="text-align: center; display: block">
                        <img src="/v2/images/shipper/logo_sapoexpress-active.svg" style="width: 199px"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="action-btn clearfix">
                        <a class="btn sapo-btn-default" data-no-turbolink="true" id="link-report-old"
                           href="/assets/admin/shippers?connect=SAPOEXPRESS"
                           style="float: right; margin-left: 10px;">Tiếp tục</a>
                        <button class="close-modal btn sapo-btn-blank pull-right"
                                type="button">Thoát
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="template-modal-fee">
        <div class="modal-header">
              <span class="ui-dialog-title" >

              </span>
            <span class="modal-close-wrapper">
                <svg class="ui-icon-x ui-icon-x-20">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cancel-small-minor">
                  </use>
                </svg>
              </span>
        </div>
        <div class="suggest-fee-modal-wrapper">
            <div class="suggest-fee-modal-section" style="height: auto">
                <div class="suggest-fee-modal__content suggest-fee-modal__content-second">
                    <div class="modal-body">
                        <ul class="error-text"></ul>
                        <div class="suggest-fee-modal__detail-col-left" style="width: 40%;">
                            <div class="suggest-fee-modal__detail-col-left-detail">
                                <div class="col-detail__section">
                                    <h4 class="h4-title">Địa chỉ lấy hàng</h4>
                                    <div id="location-store-address"></div>

                                </div>
                                <div class="col-detail__section">
                                    <h4 class="h4-title">Địa chỉ giao</h4>
                                    <div id="shipping-address"></div>

                                </div>
                                <div class="col-detail__section">
                                    <h4 class="h4-title">Thông tin lấy hàng</h4>
                                    <table class="table-suggest-fee">
                                        <tr>
                                            <td><span class="required-sk">*</span>Tiền thu hộ:</td>
                                            <td>
                                                <input type="hidden" id="total-amount"/>
                                                <div class="input-wrap"><span class="currency-input"></span><input
                                                        autocomplete="off"
                                                        placeholder="" bind="orderFee.orderTotalAmount_txt"
                                                        define="{ numberInput: new Components.NumberInput(this, 'navMenu','0','','','','False')}"
                                                        context="numberInput"
                                                        class="padding-left20 sapo-textbox"
                                                        id="order-totalprice_txt"
                                                        bind-event-keyup="changeElementSuggestFee()"
                                                        bind-event-keypress="changeElementSuggestFee()"/><input
                                                        type="hidden"
                                                        bind="orderFee.orderTotalAmount"
                                                        class="sapo-textbox" id="order-totalprice"
                                                        name=""/></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="required-sk">*</span>Khối lượng (g) <i
                                                    style="padding-left: 4px"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Đối với Boxme, Giao hàng tiết kiệm cửa hàng cần cập nhật khối lượng cho toàn bộ các hàng hóa. Trong trường hợp bạn nhập khối lượng không chính xác, đơn vị giao hàng sẽ cập nhật lại phí vận chuyển và mức phí dự kiến trên có thể tăng lên do vượt cân"
                                                    class="fa fa-question-circle"></i>
                                            </td>
                                            <td>
                                                <div class="input-wrap"><input autocomplete="off"
                                                                               placeholder=""
                                                                               bind="orderFee.weightOrder_txt"
                                                                               define="{ numberInput: new Components.NumberInput(this, 'navMenu','0','','','','False')}"
                                                                               context="numberInput"
                                                                               class="sapo-textbox"
                                                                               id="order-total-weight_txt"
                                                                               bind-event-keyup="changeElementSuggestFee()"
                                                                               bind-event-keypress="changeElementSuggestFee()"/><input
                                                        type="hidden"
                                                        bind="orderFee.weightOrder" class="sapo-textbox"
                                                        id="order-total-weight" name=""/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Kích thước (cm):</td>
                                            <td style="display: flex">
                                                <span style="margin: 5px 5px 0 0;">Dài</span>
                                                <div class="input-wrap"><input autocomplete="off"
                                                                               placeholder=""
                                                                               bind="orderFee.boxLength_txt"
                                                                               define="{ numberInput: new Components.NumberInput(this, 'navMenu','0','999999999','','0','False')}"
                                                                               context="numberInput"
                                                                               class="sapo-textbox property-textbox"
                                                                               minimum-value="0"
                                                                               maximum-value="999999999"
                                                                               id="box-length_txt"
                                                                               style="width:40px" value="10"
                                                                               bind-event-keypress="changeElementSuggestFee()"/><input
                                                        type="hidden"
                                                        bind="orderFee.boxLength"
                                                        class="sapo-textbox property-textbox"
                                                        id="box-length"
                                                        name=""/></div>
                                                <span style="margin: 5px 5px 0 5px">Rộng</span>
                                                <div class="input-wrap"><input autocomplete="off"
                                                                               placeholder=""
                                                                               bind="orderFee.boxWidth_txt"
                                                                               define="{ numberInput: new Components.NumberInput(this, 'navMenu','0','999999999','','0','False')}"
                                                                               context="numberInput"
                                                                               class="sapo-textbox property-textbox"
                                                                               minimum-value="0"
                                                                               maximum-value="999999999"
                                                                               id="box-width_txt"
                                                                               style="width:40px" value="10"
                                                                               bind-event-keypress="changeElementSuggestFee()"/><input
                                                        type="hidden"
                                                        bind="orderFee.boxWidth"
                                                        class="sapo-textbox property-textbox" id="box-width"
                                                        name=""/></div>
                                                <span style="margin: 5px 5px 0 5px">Cao</span>
                                                <div class="input-wrap"><input autocomplete="off"
                                                                               placeholder=""
                                                                               bind="orderFee.boxHeight_txt"
                                                                               define="{ numberInput: new Components.NumberInput(this, 'navMenu','0','999999999','','0','False')}"
                                                                               context="numberInput"
                                                                               class="sapo-textbox property-textbox"
                                                                               minimum-value="0"
                                                                               maximum-value="999999999"
                                                                               id="box-height_txt"
                                                                               style="width:40px" value="10"
                                                                               bind-event-keypress="changeElementSuggestFee()"/><input
                                                        type="hidden"
                                                        bind="orderFee.boxHeight"
                                                        class="sapo-textbox property-textbox"
                                                        id="box-height"
                                                        name=""/></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="suggest-fee-modal__detail-col-right" style="width: 60%">
                            <div class="suggest-fee-modal__detail-col-right-detail">
                                <div class="col-detail__section">
                                    <h4 class="h4-title" style="margin-left: 20px; margin-bottom: 15px;">
                                        Phí dự kiến đối tác vận chuyển <i style="padding-left: 4px"
                                                                          data-toggle="tooltip"
                                                                          data-placement="top"
                                                                          title="Phí dự kiến được tính dựa vào địa chỉ kho lấy hàng, địa chỉ giao, khối lượng, và tiền thu hộ. Đây là phí tiêu chuẩn không bao gồm phí cho các dịch vụ cộng thêm. Hiện tại Sapo đang hỗ trợ phí dự kiến cho Giao hàng tiết kiệm, Boxme, VNPost"
                                                                          class="fa fa-question-circle"></i>
                                    </h4>
                                    <div class="no-padding-left row fee-partner-order-spin"
                                         style="display: none; margin-left: 50%; margin-top: 0px; position: relative;">
                                        <svg class="next-icon next-icon--no-nudge"
                                             style="width: 40px; height: 40px">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#icon-spinner"></use>
                                        </svg>
                                    </div>
                                    <div class="suggest-fee-detail" style="display: none"></div>
                                    <div class="col-12 p-0 m-0 fee-partner-order fee-partner-order"
                                         id="fee-partner-order-popup"
                                         style="display: none">
                                        <div class="w-100 fee-partner-order">
                                            <div class="detail-dsp-fulfillment-info row"
                                                 style="padding: 0px 15px;">
                                                <table class="sapo-table-delivery"
                                                       style="width: 100%; font-size: 13px; border: 1px solid #c4cdd5; border-width: 0 0;">
                                                    <thead>
                                                    <tr style="border: 1px solid #c4cdd5; background: #F4F6F8;">
                                                        <th style="border-right: 1px solid #c4cdd5; width: 20%; text-align: center;">
                                                            Đối tác vận chuyển
                                                        </th>
                                                        <th style="width: 38%; padding-left: 50px;">
                                                            Dịch vụ
                                                        </th>
                                                        <th style="width: 22%;">Thời gian dự kiến
                                                        </th>
                                                        <th style="width: 20%">Phí dự kiến</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="line-item-rows-delivery"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="action-btn clearfix w-100">
                <button class="btn sapo-btn-default float-right"
                        bind-class="{disabled : !isValidShippingCost()}"
                        bind-event-click="applyShippingCost()" style="margin-left: 10px;">Áp dụng
                </button>
                <button class="btn float-right sapo-btn-red" bind-event-click="resetApplyShippingCost()">
                    Ngừng áp
                    dụng
                </button>
            </div>
        </div>
    </script>
    <script class="modal_source" define="{suggestFeeShippingModal: new Components.Modal(this)}"
            type="text/html">
        <div class="modal-dialog modal-dialog-new modal-dialog-suggest-fee" style="width: 1150px;">
            <div class="modal-content">
                <div class="suggest-fee-modal">

                </div>
            </div>
        </div>
    </script>
    <script>
        Page();
        hj('trigger', 'split_test_b');
    </script>
    <script type='text/javascript'>
        function showMenu() {
            $(".col-left").css("margin-left", 0);
            $(".col-left").addClass("is-mobile");
        }

        env = 'Production';
        old_console_log = console.log;
        console.log = function () {
            if (env.toLowerCase() != "production") {
                old_console_log.apply(this, arguments);
            }
        }
        window.isAccountNonEmail = false
        window.profileSso = 'https://profiles.sapo.vn';

        function isAuthorized(authority) {
            let accountRoles = [{
                "locationId": 0,
                "tenantRoleId": 1,
                "scopes": ["full"]
            }];
            let accountOwner = true;
            let check = false;
            if (accountRoles == null || accountRoles == undefined)
                accountRoles = [];
            let accountRole;
            if (accountOwner)
                return true;
            for (accountRole of accountRoles) {
                if (accountRole.scopes.includes('full') || accountRole.scopes.includes(authority)) {
                    check = true;
                    break;
                }
            }
            if (check)
                return true;
            else {
                Sapo.Flash.error('Bạn không có quyền thực hiện chức năng này');
                return false;
            }
        }

        function hasPermission(authority) {
            let accountRoles = [{
                "locationId": 0,
                "tenantRoleId": 1,
                "scopes": ["full"]
            }];
            let accountOwner = true;
            let check = false;
            if (accountRoles == null || accountRoles == undefined)
                accountRoles = [];
            let accountRole;
            if (accountOwner)
                return true;
            for (accountRole of accountRoles) {
                if (accountRole.scopes.includes('full') || accountRole.scopes.includes(authority)) {
                    check = true;
                    break;
                }
            }
            return check;
        }
    </script>
    <script>
        var CKEDITOR_BASEPATH = '/v2/lib/ckeditor/';
        var S_LANG = 'vi-VN';
        var S_LANG_RES = 'https://sapo.dktcdn.net/sapo-frontend-x/d9ad77d.i18n_vi-VN.json';
    </script>
    <script src="https://sapo.dktcdn.net/sapo-frontend-x/a23a716.client.bundle.js"></script>
    <!-- <link rel="stylesheet" href="https://sapo.dktcdn.net/sapo-frontend-x/e603c93.main.css" /> -->
    <script src="https://sapo.dktcdn.net/fe-cdn-production/lib/upload-files/jquery.multifile.js"></script>
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 1081489,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script>
        (function (f, b) {
            if (!b.__SV) {
                var e, g, i, h;
                window.mixpanel = b;
                b._i = [];
                b.init = function (e, f, c) {
                    function g(a, d) {
                        var b = d.split(".");
                        2 == b.length && (a = a[b[0]], d = b[1]);
                        a[d] = function () {
                            a.push([d].concat(Array.prototype.slice.call(arguments, 0)))
                        }
                    }

                    var a = b;
                    "undefined" !== typeof c ? a = b[c] = [] : c = "mixpanel";
                    a.people = a.people || [];
                    a.toString = function (a) {
                        var d = "mixpanel";
                        "mixpanel" !== c && (d += "." + c);
                        a || (d += " (stub)");
                        return d
                    };
                    a.people.toString = function () {
                        return a.toString(1) + ".people (stub)"
                    };
                    i =
                        "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove"
                            .split(" ");
                    for (h = 0; h < i.length; h++) g(a, i[h]);
                    var j = "set set_once union unset remove delete".split(" ");
                    a.get_group = function () {
                        function b(c) {
                            d[c] = function () {
                                call2_args = arguments;
                                call2 = [c].concat(Array.prototype.slice.call(call2_args, 0));
                                a.push([e, call2])
                            }
                        }

                        for (var d = {}, e = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)),
                                 c = 0; c < j.length; c++) b(j[c]);
                        return d
                    };
                    b._i.push([e, f, c])
                };
                b.__SV = 1.2;
                e = f.createElement("script");
                e.type = "text/javascript";
                e.async = !0;
                e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol &&
                    "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ?
                        "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" :
                        "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
                g = f.getElementsByTagName("script")[0];
                g.parentNode.insertBefore(e, g)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("458e4ee056e5f2551c5ea5277600a92e", {
            batch_requests: true,
            persistence: "localStorage"
        });
        mixpanel.init("3eeb208c1975f4e8de5b726659d3789f", {
            batch_requests: true,
            persistence: "localStorage"
        }, "project_v2");
        mixpanel.init("54a5c453cd7ed47d5a5c9ab1f4866e8d", {
            batch_requests: true,
            persistence: "localStorage"
        }, "project_v3");
        mixpanel.init("29b3fe744c6ce711fd5458235a181b34", {
            batch_requests: true,
            persistence: "localStorage"
        }, "project_v4");
        mixpanel.init("1f0c89f1365ae2b207cddf00468f4cdc", {
            batch_requests: true,
            persistence: "localStorage"
        }, "project_coupon");
        mixpanel.init("6057ed3adb8a3070741591d4703ca8dd", {
            batch_requests: true,
            persistence: "localStorage"
        }, "project_stock_adj");
    </script>


</th:block>
</html>