<!doctype html>
<html lang="vi-VN">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0"/>

    <title>Department Store - Đăng nhập</title>

    <link rel="icon" type="image/x-icon" href="/assets/admin/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="https://sapo.dktcdn.net/sso-service/c54c3caa-style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/authentications/authentication.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"/>
</head>

<body>
    <div class="login-style login-background">
        <div class="form container">
            <div class="header">
                <img alt="sapo-logo.svg" src="/assets/admin/images/sapo-logo.svg" class="sapo-logo prevent-select"/>
                <div class="mt-3 text-center">
                    <h1 class="h5 prevent-select">Đăng nhập vào cửa hàng của bạn</h1>
                </div>
            </div>
            <form class="mt-4 needs-validation" novalidate>
                <div class="hidden alert-danger sapo-notification">
                    <div class="col">
                        <div id="invalid-username" class="hidden">
                            <img alt="notification-failed.svg" src="../../../static/assets/admin/images/notification-failed.svg"/>
                            <span>Địa chỉ email không hợp lệ</span>
                        </div>
                        <div id="invalid-password" class="mt-2 hidden">
                            <img alt="notification-failed.svg" src="../../../static/assets/admin/images/notification-failed.svg"/>
                            <span>Mật khẩu không hợp lệ</span>
                        </div>
                    </div>
                </div>
                <div class="form-login-info">
                    <div class="form-group">
                        <input id="login-email" type="text" class="form-control select-form-input" title="Nhập địa chỉ email" minlength="6" maxlength="32" placeholder="Nhập địa chỉ email" autocomplete="off" aria-autocomplete="none" required/>
                    </div>
                    <div class="form-group">
                        <input id="login-password" type="password" class="form-control select-form-input" title="Nhập mật khẩu" minlength="6" maxlength="32" placeholder="Nhập mật khẩu" autocomplete="off" aria-autocomplete="none" required/>
                        <label for="login-password" class="prevent-select input-inline-button" title="Nhập mật khẩu">
                            <img alt="eye.svg" src="/assets/admin/images/eye.svg" id="login-icon-eye-id" class="cursor-pointer login-icon-eye" title="Hiện mật khẩu"/>
                            <img alt="eye-slash.svg" src="/assets/admin/images/eye-slash.svg" id="login-icon-eye-slash-id" class="hidden cursor-pointer login-icon-eye" title="Ẩn mật khẩu"/>
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <p class="register-now prevent-select">
                        Bạn chưa có tài khoản để đăng nhập?
                        <a href="/register" title="Đăng ký">Đăng ký</a>
                    </p>
                </div>
                <div class="mt-4 text-center">
                    <button id="login-submit" type="button" class="btn-login">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" type="text/javascript"></script>
<script src="/assets/admin/js/order/app.js" type="text/javascript"></script>
<script src="/assets/admin/js/authentications/authentication.js" type="module"></script>
<script src="/assets/admin/js/authentications/login.js" type="module"></script>

</html>