<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Sapo - Đăng ký</title>

    <link rel="icon" type="image/x-icon" href="../../../static/assets/admin/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="https://www.sapo.vn/Themes/Portal/Default/StylesV2/dist/home-login.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"/>
</head>

<body>
    <div class="sapo-modal-register show">
        <div class="sapo-modal-register-content">
            <div class="sapo-modal-register-body">
                <div class="header">
                    <img class="logo" src="../../../static/assets/admin/images/sapo-logo.svg" alt="sapo-logo.svg"/>
                    <div class="title mt-3">
                        <h1 class="h4">Đăng ký để tạo tài khoản mới</h1>
                    </div>
                </div>
                <form class="form-request mt-4" method="post" action="/register">
                    <div class="form-group">
                        <input id="name" type="text" class="form-input" title="Nhập họ và tên đăng ký" placeholder="Nhập họ và tên đăng ký" autocomplete="off" required/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="phone" type="tel" class="form-input" title="Nhập số điện thoại" pattern="^0\d{7,24}$" placeholder="Nhập số điện thoại" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="email" type="email" class="form-input" title="Nhập địa chỉ email" pattern="^.{3,60}$" placeholder="Nhập địa chỉ email" autocomplete="off" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mdc-selectize">
                                <select id="CityDistrict" name="CityDistrict">
                                    <option value="" disabled selected>Chọn tỉnh thành phố</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="btn-registration">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.sapo.vn/Themes/Portal/Default/StylesV2/lib/tom-select/tom-select.complete.js"></script>
</body>

</html>