.jss2322  {
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: center;
}
 .MuiGrid-container {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
}
.MuiGrid-grid-xs-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}
