#printable {
    display: none;
}

@media print {
    #root {
        display: none;
    }

    #printable {
        display: block;
    }
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.logo {
    border-bottom: dashed 0.5px;
   
}
.logo img{
    width: 150px;
    height: 150px;
    position: relative;

    left: 40%;
}

.tt {
    position: relative;
    margin-top: -33px;
    width: 100%;
    text-align: center;
    line-height: 3px;
}

.title #mhd {
    width: 50%;
    float: left;
    /* display: inline-block; */
}

.title #datehd {
    width: 50%;
    float: right;
    text-align: right;
}

h4 {
    width: 100%;
    text-align: center;
}

.title {
    height: 40px;
    border-bottom: solid 1px black;
    padding-bottom: 30px;
}
.users{
    border-bottom: dashed 0.5px;
}
table {
    border-bottom: dashed 0.5px;
    width: 100%;
}
.total{
    width: 100%;
}
.total p{
    
    text-align: left;
}
.total p span{

    float: right;
}
#end{
    text-align: center;
    font-style: italic;

}