.jss40 {
    display: flex;
    flex-direction: column;
}

.jss64 {
    width: calc(100% - 230px);
    height: auto;
    min-height: 100vh;
    margin-left: 230px;
    background-color: rgb(240, 241, 241);
}

.jss406 {
    top: 0;
    height: 52px;
    display: flex;
    padding: 0 32px;
    z-index: 1001;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: space-between;
}

.MuiTypography-h3 {
    font-size: 1.7rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    line-height: 30px;
}

.MuiTypography-root {
    margin: 0;
}

.jss407 {
    height: inherit;
    display: flex;
    align-items: center;
}

.jss408 {
    cursor: pointer;
    height: 100%;
    display: flex;
    padding: 16px 13px;
    align-items: center;
}

.jss408 svg {
    color: #A2A8AF;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
    background-color: #fafafa;
}

#root, body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #182537;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.jss409 {
    color: #747C87;
    margin-right: 9px;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiTypography-colorTextPrimary {
    color: #0F1824;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 20px;
}

.jss1996 {
    flex: 1 1 auto;
    display: flex;
    padding: 0 32px 40px;
    flex-direction: column;
}

.jss1997 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jss1998 {
    display: flex;
    align-items: center;
}

.eUKSRG {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    min-width: unset;
    color: rgb(15, 24, 36);
    border: none;
    background: transparent;
    padding: 0px;
}

.eUKSRG svg {
    height: 1.42857rem;
    width: 1.42857rem;
    color: rgb(163, 168, 175);
    font-size: 24px;
}

.jss2017 {
    width: 1px;
    height: 20px;
    border-left: 1px solid rgb(211, 213, 215);
    margin: 0px 8px;
}

.jss2018 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jss2012 {
    color: #0F1824;
    text-decoration: none;
}

.eUKSRG {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    min-width: unset;
    color: rgb(15, 24, 36);
    border: none;
    background: transparent;
    padding: 0px;
}

.eUKSRG svg {
    height: 1.42857rem;
    width: 1.42857rem;
}

.iYjhei {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px 0px 0px auto;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 255);
    border: none;
}

.jcEYKF {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.jss2000 {
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    background-color: white;
}

div {
    display: block;
}

.jss1999 {
    display: flex;
    min-height: 116px;
    flex-direction: column;
    background-color: white;
}

.cTUhMx {
    display: flex;
    background-color: white;
    justify-items: center;
    align-content: center;
    cursor: pointer;
    box-shadow: rgb(232 234 235) 0px -1px 0px 0px inset;
}

.hYUFnd {
    white-space: nowrap;
    /* overflow-x: scroll;
    scroll-behavior: smooth; */
    display: flex;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ieIWRo {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    outline: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
}

.dvtKJo {
    display: inline-block;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0.428571rem 1.14286rem;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    height: 3.42857rem;
    color: rgb(0, 136, 255);
    font-weight: 500;
    border-bottom: 2px solid rgb(0, 136, 255);
}

.jss2001 {
    display: flex;
    padding: 16px;
    align-items: center;
    flex-direction: row;
}

.elNOYP {
    display: flex;
    width: 100%;
    flex: 1 1 0%;
}

.gTRFtW {
    width: 100%;
}

.dYvjic > .Sapo-InputRoot {
    height: 2.57143rem;
}

.hISLMV {
    position: relative;
    height: 2.85714rem;
}

.kZUaKd {
    left: 0.857143rem;
}

.bqqjdk {
    transform: translate(0px, -50%);
    position: absolute;
    top: 50%;
    color: rgb(163, 168, 175);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.echsof {
    height: 1.71429rem;
    width: 1.71429rem;
    pointer-events: none;
}

.iYDwCJ {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0.714286rem 0.857143rem 0.714286rem 2.85714rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    color: rgb(15, 24, 36);
}

.iUBRZb {
    pointer-events: none;
    position: absolute;
    inset: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    border: 1px solid rgb(211, 213, 215);
    overflow: hidden;
    box-sizing: border-box;
}

.jss2029 {
    margin: 0 16px;
}

.MuiButtonGroup-root {
    display: inline-flex;
    border-radius: 4px;
}

.jss2029 .MuiButtonBase-root.MuiButtonGroup-groupedHorizontal:not(:last-child) {
    border-right-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jss2029 .MuiButtonBase-root.MuiButton-outlined {
    border: 1px solid #d3d5d7;
    display: flex;
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
}

.MuiButtonGroup-groupedOutlinedHorizontal:not(:last-child) {
    border-right-color: transparent;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    font-size: 1rem;
    align-items: inherit;
    text-transform: none;
    justify-content: inherit;
}

.jss2029 .MuiButtonBase-root {
    min-width: 119px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 3px;
}

.MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 18px 4px;
    font-weight: bold;
    border-color: #ebedf1;
    border-width: 2px;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss2029 .MuiButtonBase-root.MuiButtonGroup-groupedHorizontal:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss2029 .MuiButtonBase-root .MuiButton-endIcon {
    color: #A3A8AF;
}

.jss2054 .MuiButton-endIcon {
    margin-left: 12px;
    margin-right: 0;
}

.MuiButton-endIcon {
    display: inherit;
    margin-left: 8px;
    margin-right: -4px;
}

.jss2054 .MuiButton-endIcon>svg {
    width: 24px;
    height: 24px;
}

.MuiButton-iconSizeMedium > *:first-child {
    font-size: 20px;
}

.PGFzi {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    border: none;
    background: rgb(243, 244, 245);
    color: rgb(116, 124, 135);
}

.jcEYKF {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.jss2552 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MuiPaper-elevation1 {
    box-shadow: none;
}

.MuiPaper-rounded {
    border-radius: 3px;
}

.MuiPaper-root {
    color: #0F1824;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.jss2553.stickyHeader {
    top: 0;
    z-index: 9;
    position: sticky;
}

.jss2553 {
    flex: 0 0 auto;
    z-index: 2;
    overflow: hidden;
}

.MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
}

.jss2554 {
    table-layout: fixed;
}

.MuiTable-root {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

colgroup {
    display: table-column-group;
}

.jss2625 {
    display: flex;
    align-items: center;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: #0F1824;
    padding: 12px;
    overflow: visible;
    font-size: 1rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.jss2626 {
    width: 24px;
    height: 24px;
    padding: 5px;
    margin-right: 4px;
}

.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.54);
}

.jss2599 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    border-top: 1px solid #E8EAEB;
    line-height: 1.5715;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.MuiTableCell-alignCenter {
    text-align: center;
}

.MuiTableCell-paddingNone {
    padding: 0;
}

.MuiTableCell-alignLeft {
    text-align: left;
}

.jss2596.center {
    justify-content: center;
}

.jss2596 {
    height: 21px;
    display: flex;
    align-items: center;
}

.jss2596 .UnfoldMoreIcon {
    color: rgba(0, 0, 0, 0.87);
    opacity: 1;
}

.jss2555 {
    flex: 1 1 auto;
}

.MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
}

.jss2656 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 12px;
    min-height: 28px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 12px;
    justify-content: flex-end;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 20px;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.jss2657 {
    width: auto;
    height: 24px;
    margin: 0 12px;
    min-width: 50px;
}

.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
}

.jss2657 .MuiSelect-root {
    height: 23px;
    padding: 0 25px 0 8px;
}

.jss2657 .MuiSelect-icon {
    right: 2px;
}

.MuiSelect-icon.MuiSelect-icon {
    color: #A3A8AF;
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}

.jss2709 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.jss2710 {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.jss2658 {
    margin: 0 64px;
}

.jss2649 {
    padding-left: 44px;
    padding: 0 0 0 16px;
}

.jss2652 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    line-height: 18px;
    padding-top: 0;
    border-bottom: 1px solid #E8EAEB;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.jss2007 {
    width: 35px;
    margin: auto;
    display: block;
    max-height: 35px;
}

.jss2656 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 12px;
    min-height: 28px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 12px;
    justify-content: flex-end;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.jss2657 {
    width: auto;
    height: 24px;
    margin: 0 12px;
    min-width: 50px;
}

.jss2657 .MuiSelect-root {
    height: 23px;
    padding: 0 25px 0 8px;
}

.jss2659 {
    font-size: 13px;
}

.jss2657 .MuiSelect-icon {
    right: 2px;
}

.MuiSelect-icon.MuiSelect-icon {
    color: #A3A8AF;
}

.jss2709 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}

.jss2710 {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.jss9205 {
    max-width: 1000px;
    min-width: 230px;
    background-color: #fff;
}

.jss11873 {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: flex;
    padding: 11px 17px;
    align-items: center;
    text-decoration: none;
}