.jss2171 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}

.jss2172 {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.jss2173 {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    visibility: hidden;
}

.jss2173 > span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.jss2174 {
    max-width: 1000px;
    transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}