<!doctype html>
<html lang="vi-VN" class="sapo-menu-toggle-active sapo-menu-expand" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="/layout/header :: header"/>
    <title>Danh sách nhà cung cấp</title>

</head>

<body>

<div>
    <th:block th:replace="/layout/menu :: menu"/>

    <div class="col-right">
        <div class="col-right_content">
            <header class="ui-title-bar-container ui-title-bar-container--index">
                <div class="ui-title-bar">
                    <div class="ui-title-bar__main-group">
                        <div class="ui-title-bar__heading-group">
                            <h1 class="ui-title-bar__title">Nhà cung cấp</h1>
                        </div>
                    </div>
                    <div class="ui-title-bar__actions">
                        <a href="/admin/suppliers/create" class="btn sapo-btn-default">Thêm nhà cung cấp</a>
                    </div>
                </div>
            </header>
            <div class="gird-layout gird-layout--full-width">
                <section class="grid-card">
                    <div id="filterAndSavedSearch" class="filter-and-saved-search-order">
                        <div class="filter-tab-container">
                            <ul class="filter-tab-list" id="filter-tab-list" style="overflow: unset;">
                                <li class="filter-tab-item" style="opacity: 1;">
                                    <a href="#" class="filter-tab show-all-items filter-tab-active">Tất cả nhà cung cấp</a>
                                </li>
                                <li class="filter-tab-item" style="opacity: 1; padding-bottom: 3.5px;">
                                    <a href="#" class="filter-tab">Đang giao dịch</a>
                                </li>
                            </ul>
                        </div>
                        <div class="table-filter-container">
                            <div class="filter-header">
                                <button class="btn btn-filter" type="button">
                                    <span>Lọc nhà cung cấp</span>
                                    <svg class="next-icon next-icon--size-20" id="svg-filter">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-disclosure"></use>
                                    </svg>
                                </button>
                                <div class="group-input-query">
                                    <span>
                                        <svg class="next-icon next-icon--size-16">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-search-reverse"></use>
                                        </svg>
                                    </span>
                                    <input type="text" id="query-enter" class="input-query sapo-textbox" placeholder="Tìm kiếm theo mã nhà cung cấp, SĐT, tên nhà cung cấp"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resultFilter">
                        <div class="suppliers">
                            <div class="ui-type-container clearfix">
                                <div class="table-wrapper" style="opacity: 1;">
                                    <div id="sapo-table_wrapper" style="overflow-x: auto;">
                                        <table class="sapo-table bulk-action-context" id="sapo-table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="bulk-actions-tooltip-wrapper bulk-actions-wrapper-main" title="Chọn tất cả nhà cung cấp">
                                                            <div class="tooltip--select-all">
                                                                <div class="next-input-wrapper bulk-actions--select-all" style="left: auto;">
                                                                    <label class="bulk-actions--select-all-btn btn hidden"></label>
                                                                    <input type="checkbox" class="next-checkbox bulk-actions--select-all-checkbox"/>
                                                                    <span class="next-checkbox--styled">
                                                                        <svg class="next-icon next-icon--size-10 checkmark">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-checkmark-thick"></use>
                                                                        </svg>
                                                                        <svg class="next-icon next-icon--size-10 indeterminate">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-minus"></use>
                                                                        </svg>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>Mã nhà cung cấp</th>
                                                    <th>Tên nhà cung cấp</th>
                                                    <th>Email</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Trạng thái</th>
                                                    <th>Nhân viên phụ trách</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Lần cập nhật cuối</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="t-grid-pager-boder">
                                    <div class="t-pager t-reset">
                                        <div class="col-4">
                                            <p class="t-status-text">Hiển thị kết quả từ 1 - 1 trên tổng 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/layout/script :: script"/>

<script src="../../../static/assets/admin/js/suppliers/supplier_list.js"></script>
<script>Page();</script>

</body>

</html>