<!doctype html>
<html lang="vi-VN">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0"/>

    <title>Department Store - Không tìm thấy trang</title>

    <link rel="icon" type="image/x-icon" href="/assets/admin/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/exceptions/exception.css"/>
</head>

<body>
    <div class="exception-background exception-prevent-select">
        <p class="exception-title">Không tìm thấy trang !</p>
        <p class="exception-alert">
            Chúng tôi rất tiếc vì không tìm thấy trang mà bạn muốn truy cập.
            <br/>
            Xin vui lòng quay lại <a href="/admin/home" class="exception-redirect" title="Quay về trang chủ">trang chủ</a>
        </p>
    </div>
</body>

</html>