.MuiPaper-overflow {
    /*width: 100px;*/
    overflow: auto;
    display: block;
    height: 100%;
}

.jss2075 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    border-top: 1px solid #E8EAEB;
    line-height: 1.5715;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.jss2080 {
    padding: 0 0 0 16px;
    border-top: 1px solid rgba(224, 224, 224, 1);
}
.jss2132  {
    flex: 0 0 auto;
    display: flex;
    margin-top: 12px;
    min-height: 28px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 12px;
    justify-content: flex-end;
}
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 20px;
}
.jss440 {
    top: 0;
    height: 52px;
    display: flex;
    padding: 0 32px;
    z-index: 1001;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: space-between;
}

.jss441 {
    height: inherit;
    display: flex;
    align-items: center;
}

.jss442 {
    cursor: pointer;
    height: 100%;
    display: flex;
    padding: 16px 13px;
    align-items: center;
}

.jss442 svg {
    color: #A2A8AF;
}

.jss442:hover {
    background: #F2F9FF;
}

.jss442:hover svg {
    color: #0088FF;
}

.jss442:hover p {
    color: #0088FF;
}

.jss443 {
    color: #747C87;
    margin-right: 9px;
}

.jss445 {
    margin: 0 10px;
    font-weight: 500;
}

.jss2447 {
    flex: 1 1 auto;
    display: flex;
    padding: 0 32px 40px;
    flex-direction: column;
}

.MuiButton-textSizeSmall {
    padding: 4px 5px;
}

.jss2448 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jss2457 {
    display: flex;
    align-items: center;
    margin: 0;
}

.jss2463 {
    color: #A3A8AF;
}

.jss2464:hover {
    color: #0088FF;
    background: none;
}

.fEHNKi {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px 0px 0px 16px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 255);
    border: none;
}

.fEHNKi svg {
    height: 1.42857rem;
    width: 1.42857rem;
}

.fEHNKi:hover {
    opacity: 0.78;
}

.fCIlZX {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0px 0px 0.571429rem;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.jss2449 {
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    background-color: white;
}

.jss2450 {
    display: flex;
    min-height: 116px;
    flex-direction: column;
    background-color: white;
}

.cTUhMx {
    display: flex;
    background-color: white;
    justify-items: center;
    align-content: center;
    cursor: pointer;
    box-shadow: rgb(232 234 235) 0px -1px 0px 0px inset;
}

.hYUFnd {
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ieIWRo {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    outline: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
}

.dvtKJo {
    display: inline-block;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0.428571rem 1.14286rem;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    height: 3.42857rem;
    color: rgb(0, 136, 255);
    font-weight: 500;
    border-bottom: 2px solid rgb(0, 136, 255);
}

.ceoyok {
    display: inline-block;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0.428571rem 1.14286rem;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid transparent;
    color: rgb(116, 124, 135);
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    height: 3.42857rem;
}

.jss1158 {
    display: flex;
    padding: 16px;
    align-items: center;
    flex-direction: row;
}

.elNOYP {
    display: flex;
    width: 100%;
    flex: 1 1 0%;
}

.gTRFtW {
    width: 100%;
}

.dYvjic>.Sapo-InputRoot {
    height: 2.57143rem;
}

.hISLMV {
    position: relative;
    height: 2.85714rem;
}

.kZUaKd {
    left: 0.857143rem;
}

.bqqjdk {
    transform: translate(0px, -50%);
    position: absolute;
    top: 50%;
    color: rgb(163, 168, 175);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.echsof {
    height: 1.71429rem;
    width: 1.71429rem;
    pointer-events: none;
}

.iYDwCJ {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0.714286rem 0.857143rem 0.714286rem 2.85714rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    color: rgb(15, 24, 36);
}

.iUBRZb {
    pointer-events: none;
    position: absolute;
    inset: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    border: 1px solid rgb(211, 213, 215);
    overflow: hidden;
    box-sizing: border-box;
}

.NTbWa {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    color: rgb(15, 24, 36);
    border: 1px solid rgb(211, 213, 215);
    background: rgb(255, 255, 255);
    margin: 0px 16px;
}

.NTbWa svg {
    height: 1.42857rem;
    width: 1.42857rem;
}

.ffDJGn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0.571429rem 0px 0px;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.PGFzi {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    border: none;
    background: rgb(243, 244, 245);
    color: rgb(116, 124, 135);
}

.jcEYKF {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.jss4155 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jss4156 {
    flex: 0 0 auto;
    z-index: 2;
    overflow: hidden;
}

.jss4156.stickyHeader {
    top: 0;
    z-index: 9;
    position: sticky;
}

.jss4157 {
    table-layout: fixed;
}

.MuiTable-root {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.jss4170 {
    background-color: #F4F6F8;
}

.MuiTableHead-root {
    display: table-header-group;
}

.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.jss4179 {
    padding: 0 0 0 16px;
    border-top: 1px solid rgba(224, 224, 224, 1);
}

.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 0 0 4px;
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500 !important;
    line-height: 1.5rem !important;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
}

.jss4200 {
    display: flex;
    align-items: center;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: #0F1824;
    padding: 12px;
    overflow: visible;
    font-size: 1rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.54);
}

.jss4211 {
    width: 24px;
    height: 24px;
    padding: 5px;
    margin-right: 4px;
}

.jss4214 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.jss4202 {
    width: 14px;
    height: 14px;
    box-shadow: inset 0 0 0 1.5px rgb(0 0 0 / 26%);
    border-radius: 3px;
    background-color: transparent;
    background-image: none;
}

.jss4174 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    border-top: 1px solid #E8EAEB;
    line-height: 1.5715;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-alignRight {
    text-align: right;
    flex-direction: row-reverse;
}

.jss2447 span.right {
    flex-direction: unset;
}

.jss4171.right {
    justify-content: flex-end;
}

.jss4171 {
    height: 21px;
    display: flex;
    align-items: center;
}

.jss4171 .UnfoldMoreIcon {
    color: rgba(0, 0, 0, 0.87);
    opacity: 1;
}

.MuiPaper-elevation1 {
    box-shadow: none;
}

.MuiPaper-rounded {
    border-radius: 3px;
}

.MuiPaper-root {
    color: #0F1824;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.MuiTableContainer-root {
    width: 100%;
}

.jss4231 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 12px;
    min-height: 28px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 12px;
    justify-content: flex-end;
}

.jss4232 {
    width: auto;
    height: 24px;
    margin: 0 12px;
    min-width: 50px;
}

.jss4232 .MuiSelect-root {
    height: 23px;
    padding: 0 25px 0 8px;
}

.jss4234 {
    font-size: 13px;
}

.jss4234 .MuiSelect-icon {
    right: 2px;
}

.jss4286 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}

.jss4287 {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.jss4233 {
    margin: 0 64px;
}

.MuiPagination-ul {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.MuiPaginationItem-page.Mui-disabled {
    opacity: 0.38;
}

.jss4235 li:first-child .MuiPaginationItem-sizeSmall,
.jss4235 li:last-child .MuiPaginationItem-sizeSmall {
    height: 20px;
    min-width: 20px;
}

.MuiPaginationItem-sizeSmall {
    height: 26px;
    margin: 0 1px;
    padding: 0 4px;
    min-width: 26px;
    border-radius: 13px;
}

.MuiPaginationItem-root {
    color: rgba(0, 0, 0, 0.87);
    height: 32px;
    margin: 0 3px;
    padding: 0 6px;
    font-size: 0.875rem;
    min-width: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
    border-radius: 16px;
}

.MuiPaginationItem-page {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss4235 li:first-child .MuiPaginationItem-sizeSmall .MuiPaginationItem-icon,
.jss4235 li:last-child .MuiPaginationItem-sizeSmall .MuiPaginationItem-icon {
    color: #7A8086;
    font-size: 24px;
}

.MuiPaginationItem-icon {
    margin: 0 -8px;
    font-size: 1.25rem;
}

.jss4235 li:not(:first-child):not(:last-child) .MuiPaginationItem-sizeSmall {
    height: 20px;
    margin: 0px 4px;
    font-size: 14px;
    min-width: 20px;
    border-radius: 10px;
}

.MuiPaginationItem-textPrimary.Mui-selected {
    color: #fff;
    background-color: #0088FF;
}
html{
    font-size: 16px;
}
.gIZkwA {
    padding: 0px 0.571429rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 0.928571rem;
    line-height: 1.14286rem;
    margin: 0px;
    color: rgb(228, 156, 6);
}


 .hlxtkG {
      box-sizing: border-box;
      position: relative;
      display: inline-flex;
      white-space: nowrap;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      vertical-align: middle;
      padding: 0.285714rem;
      border-radius: 1.14286rem;
      height: 1.71429rem;
      border: 1px solid rgb(255, 223, 155);
      background-color: rgb(255, 247, 231);
 }