<!doctype html>
<html lang="vi-VN" class="sapo-menu-toggle-active sapo-menu-expand" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../../../static/assets/admin/css/product/product_detail.css"/>
    <th:block th:replace="/layout/header :: header"/>
    <title>Chi tiết sản phẩm</title>
</head>

<body>

<div>
    <th:block th:replace="/layout/menu :: menu"/>
    <div class="MuiBox-root jss64 jss40 col-right">
        <div class="MuiBox-root jss4509 jss4505 ">
            <div class="MuiBox-root jss4510 jss4508">
                <div class="MuiBox-root jss4511"><a
                        class="MuiTypography-root MuiLink-root MuiLink-underlineNone jss4507 MuiTypography-colorSecondary"
                        href="/admin/products">
                    <svg class="MuiSvgIcon-root jss4512" focusable="false" viewBox="0 0 8 13"
                         aria-hidden="true">
                        <path
                                d="M6.01041 0L0 6.01041L6.01041 12.0208L7.42462 10.6066L2.82843 6.01041L7.42462 1.41421L6.01041 0Z"
                                fill="currentColor"></path>
                    </svg>
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">Quay lại danh sách sản phẩm</h6>
                </a></div>
                <div class="MuiBox-root jss4513">
                    <a href="/admin/products"><button id="Sapo-Button-ff6cf318-574c-4f0f-b947-9111a7dc90d4"
                               class="sc-jqUVSM ldZiUT" ><span class="sc-papXJ jcEYKF">Thoát</span></button></a>
<!--                    <button id="Sapo-Button-ff6cf318-574c-4f0f-b947-9111a7dc90d4"-->
<!--                            class="sc-jqUVSM ldZiUT" ><span class="sc-papXJ jcEYKF">Thoát</span></button>-->
                    <button
                            id="Sapo-Button-3ec18966-82fb-4f50-a58e-5a530543ec49" class="sc-jqUVSM dTfcYQ"><span
                            class="sc-papXJ jcEYKF">Xoá</span></button>
                    <button id="Sapo-Button-aa711eaa-4998-4eac-9ad2-db058d567cd2"
                            class="sc-jqUVSM cHdopB"><span class="sc-papXJ jcEYKF">Sửa sản phẩm</span></button>
                </div>
            </div>
        </div>
        <div class="MuiBox-root jss4514 jss4501">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-root title MuiGrid-item MuiGrid-grid-xs-12">
                    <h4 class="MuiTypography-root MuiTypography-h4">Bánh bông lan Custas kem sữa hộp 276g</h4>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                    <div class="MuiPaper-root jss4628 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="MuiBox-root jss4666 jss4637 borderBottom">
                            <div class="MuiBox-root jss5093 jss4618">
                                <h6 class="MuiTypography-root MuiTypography-subtitle1">Thông tin sản phẩm</h6>
                                <div class="sc-jSMfEi PGrDd"><span class="sc-eCYdqJ gIZkwA">Đang giao dịch</span></div>
                            </div>
                        </div>
                        <div class="MuiBox-root jss4668 jss4619">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_sku">Mã SKU</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4687 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap"
                                                    itemid="display_product_variant_sku"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                PVN05</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_barcode">Mã barcode</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4688 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap"
                                                    itemid="display_product_variant_barcode"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                TH-
                                                Custas-276</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_weight">Khối lượng</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4689 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2"
                                                    itemid="display_product_variant_weight"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                0g</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_unit">Đơn vị tính</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4690 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2"
                                                    itemid="display_product_variant_unit"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                hộp</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_type_product">Phân loại</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4691 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap"
                                                    itemid="display_product_variant_type_product"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                Sản phẩm thường</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6"
                                             style="padding: 0px 12px 0px 0px;">
                                            <button id="Sapo-Button-a0f83825-7855-45e0-bb34-51013f879638"
                                                    class="sc-jqUVSM gFwmPR"><span
                                                    class="sc-papXJ jcEYKF">
                            <p class="MuiTypography-root jss4622 MuiTypography-body1"
                               style="color: rgb(0, 136, 255); cursor: pointer;">Xem mô tả</p>
                          </span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_category">Loại sản phẩm</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4692 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap"
                                                    itemid="display_product_variant_category" title="Bánh kẹo"
                                                    style="line-height: 16px; margin-left: 5px;">Bánh kẹo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_brand">Nhãn hiệu</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4693 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2"
                                                    itemid="display_product_variant_brand"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                Orion
                                                Custas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_tags">Tags</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4694 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body1"
                                                    style="margin-left: 5px;"><span>---</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_createOn">Ngày tạo</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4695 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap"
                                                    itemid="display_product_variant_createOn"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                06/10/2022 20:49</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-5">
                                            <p class="MuiTypography-root jss4673 MuiTypography-body2"
                                               itemid="title_display_product_variant_modified_on">Ngày cập nhật cuối</p>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-7">
                                            <div class="MuiBox-root jss4696 jss4674">: <p
                                                    class="MuiTypography-root MuiTypography-body2 MuiTypography-noWrap"
                                                    itemid="display_product_variant_modified_on"
                                                    style="line-height: 16px; margin-left: 5px;">
                                                07/11/2022 10:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                                    <div class="MuiBox-root jss4697 jss4620">
                                        <div class="MuiBox-root jss4698">
                                            <div class="MuiBox-root jss4699"
                                                 style="width: 100%; display: flex; justify-content: center;">
                                                <div class="MuiBox-root jss4700 jss4621"
                                                     style="margin: 0px; width: 150px; height: 150px;">
                                                    <img class="image-item"
                                                         src="https://sapo.dktcdn.net/100/673/040/variants/7530f13a-191f-46df-8314-24966c92be1b-1667656228225.jpg"
                                                         alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-8">
                    <div class="MuiPaper-root jss4765 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="MuiBox-root jss4773 jss4637 borderBottom">
                            <div class="MuiBox-root jss5105 jss4755">
                                <h6 class="MuiTypography-root MuiTypography-subtitle1">Giá sản phẩm</h6>
                            </div>
                        </div>
                        <div class="MuiBox-root jss4775 jss4756">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1"
                                 style="padding-bottom: 8px;">
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-2">
                                    <div class="MuiBox-root jss5052" style="display: flex;">
                                        <p class="MuiTypography-root item-name MuiTypography-body2 MuiTypography-colorTextSecondary MuiTypography-noWrap"
                                           itemid="variant_detail_price_sell_1_title"
                                           style="color: rgb(116, 124, 135); line-height: 16px;">Giá bán lẻ</p>
                                    </div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                                    <p class="MuiTypography-root MuiTypography-body2"
                                       itemid="variant_detail_price_sell_1_value"
                                       style="line-height: 16px;">: 0</p>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-2">
                                    <div class="MuiBox-root jss5053" style="display: flex;">
                                        <p class="MuiTypography-root item-name MuiTypography-body2 MuiTypography-colorTextSecondary MuiTypography-noWrap"
                                           itemid="variant_detail_price_sell_2_title"
                                           style="color: rgb(116, 124, 135); line-height: 16px;">Giá bán buôn</p>
                                    </div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                                    <p class="MuiTypography-root MuiTypography-body2"
                                       itemid="variant_detail_price_sell_2_value"
                                       style="line-height: 16px;">: 0</p>
                                </div>
                            </div>
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1"
                                 style="padding-top: 4px; border-top: 1px solid rgb(243, 244, 245);">
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-2">
                                    <div class="MuiBox-root jss5054" style="display: flex;">
                                        <p class="MuiTypography-root item-name MuiTypography-body2 MuiTypography-noWrap"
                                           itemid="variant_detail_price_import_1_title"
                                           style="color: rgb(116, 124, 135); line-height: 16px;">Giá nhập</p>
                                    </div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                                    <p class="MuiTypography-root MuiTypography-body2"
                                       itemid="variant_detail_price_import_1_value"
                                       style="line-height: 16px;">: 0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                    <div class="MuiPaper-root jss4786 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="MuiBox-root jss4794 jss4637 borderBottom">
                            <div class="MuiBox-root jss5040 jss4776">
                                <h6 class="MuiTypography-root MuiTypography-subtitle1">Thông tin thêm</h6>
                            </div>
                        </div>
                        <div class="MuiBox-root jss4796 jss4777">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                    <p class="MuiTypography-root MuiTypography-body1"><span
                                            class="MuiButtonBase-root MuiIconButton-root jss4807 MuiCheckbox-root MuiCheckbox-colorPrimary jss4797 jss4808 Mui-checked jss4809 Mui-disabled MuiIconButton-colorPrimary Mui-disabled Mui-disabled"
                                            tabindex="-1" aria-disabled="true"><span class="MuiIconButton-label"><input
                                            class="jss4810"
                                            disabled="" type="checkbox" data-indeterminate="false" value=""
                                            checked=""><span
                                            class="jss4798 jss4799" font-size="small"></span></span></span>Cho phép
                                        bán<span
                                                class="MuiTypography-root MuiTypography-caption"
                                                title="Cho phép tìm kiếm sản phẩm và tạo đơn hàng"><svg
                                                class="MuiSvgIcon-root MuiSvgIcon-colorPrimary" focusable="false"
                                                viewBox="0 0 12 12"
                                                aria-hidden="true"
                                                style="width: 12px; height: 12px; cursor: pointer; margin-left: 6px;">
                          <path d="M5.4 3V4.2H6.6V3H5.4Z" fill="currenColor"></path>
                          <path d="M5.4 6.6V9H7.2V7.8H6.6V5.4H4.8V6.6H5.4Z" fill="currenColor"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 0C2.688 0 0 2.688 0 6C0 9.312 2.688 12 6 12C9.312 12 12 9.312 12 6C12 2.688 9.312 0 6 0ZM1.2 6C1.2 8.646 3.354 10.8 6 10.8C8.646 10.8 10.8 8.646 10.8 6C10.8 3.354 8.646 1.2 6 1.2C3.354 1.2 1.2 3.354 1.2 6Z"
                                fill="currenColor"></path>
                        </svg></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/layout/script :: script"/>
<script>Page();</script>

</body>

</html>