<th:block th:fragment="print">
    <style>
        #printable {
            display: none;
        }

        @media print {
            #root {
                display: none;
            }

            #printable {
                display: block;
            }
        }

        #printable{
            font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 18px;
        }
        .logo {
            border-bottom: dashed 0.5px;
            padding-bottom: 10px;
            margin-bottom: 10px;

        }
        .logo img{
            width: 150px;
            height: 150px;
            position: relative;
            left: 44%;
        }

        .tt {
            margin-top: -20px;
            position: relative;
            width: 100%;
            text-align: center;
            line-height: 12px;
        }

        .title #mhd {
            width: 50%;
            float: left;
            /* display: inline-block; */
        }

        .title #datehd {
            width: 50%;
            float: right;
            text-align: right;
        }

        h4 {
            width: 100%;
            text-align: center;
        }

        .title {
            height: 40px;
            border-bottom: solid 1px black;
            padding-bottom: 5%;
        }
        .users{
            border-bottom: dashed 0.5px;
        }
        table {
            border-bottom: dashed 1px gray;
            width: 100%;
        }
        .total{
            width: 100%;
        }
        .total p{

            text-align: left;
        }
        .total p span{

            float: right;
        }
        #end{
            text-align: center;
            font-style: italic;

        }
    </style>
    <div id="printable" th:object="${orders}">
        <div class="logo" >

            <img src="/templates/admin/order/image/logo.png" alt="">

            <div class="tt">
                <h5>DEPARTMENT_STORE</h5><br>
                <p>HUẾ</p><br>
                <p>0989989789</p>
            </div>
        </div>

        <div class="title">
            <h4>
                HÓA ĐƠN BÁN HÀNG
            </h4>

            <p id="mhd">Số: <span th:text="*{orderCode}"></span></p>
            <p id="datehd">Ngày: <span th:text="*{#dates.format(createdAt, 'dd/MM/yyyy HH:mm')}"></span></p>

        </div>
        <div class="users">
            <p>Khách hàng: <span th:text="*{customer.name}"></span></p>
            <p>Điện thoại: <span th:text="*{customer.phone}"></span></p>
            <p>Địa chỉ: <span th:text="*{line2} == 'null' ? *{line1 + ', ' + city + ', ' + province} : *{line1 + ', ' + line2 + ', ' + city + ', ' + province}"></span></p>
        </div>
        <div>
            <tr>

            </tr>
        </div>

        <table>
            <thead>
            <th style="text-align: left;">SL</th>
            <th style="text-align: center;">Đơn giá</th>
            <th style="text-align: right;">Thành tiền</th>
            </thead>
            <tbody class="tbTable">
            <tr>
                <td th:text="*{orderItems.product.title}"></td>
            </tr>
            <tr>
                <td style="text-align: left;">1</td>
                <td style="text-align: center;">350.000</td>
                <td style="text-align: right;">350.000</td>
            </tr>
            </tbody>
        </table>

        <div class="total">
            <p>Cộng tiền hàng: <span>...</span></p>
            <p>Chiết khấu: <span>...</span></p>
            <p style="font-weight:bold;">Khách phải trả: <span>...</span></p>
            <p>Tiền khách đưa: <span>...</span></p>
            <p>Trả lại: <span>...</span></p>
        </div>
        <div id="end">Cảm ơn quý khách. Hẹn gặp lại!</div>
    </div>

</th:block>
