<th:block th:fragment="print">
    <style>
        #printable {
            display: none;
        }

        @media print {
            #root {
                display: none;
            }

            #printable {
                display: block;
            }
        }

        #printable {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 18px;
        }

        .logo {
            justify-content: center;
            border-bottom: dashed 0.5px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .logo img {
            width: 400px;
            height: 150px;
            position: relative;
            left: 34%;
        }

        .tt {
            margin-top: -20px;
            position: relative;
            width: 100%;
            text-align: center;
            line-height: 12px;
        }

        .title #mhd {
            width: 50%;
            float: left;
            /* display: inline-block; */
        }

        .title #datehd {
            width: 50%;
            float: right;
            text-align: right;
        }

        h4 {
            width: 100%;
            text-align: center;
        }

        .title {
            height: 40px;
            border-bottom: solid 1px black;
            padding-bottom: 5%;
        }

        .users {
            border-bottom: dashed 0.5px;
        }

        table {
            border-bottom: dashed 1px gray;
            width: 100%;
        }

        .total {
            width: 100%;
        }

        .total p {

            text-align: left;
        }

        .total p span {

            float: right;
        }

        #end {
            text-align: center;
            font-style: italic;

        }
    </style>
    <div id="printable">
        <div class="logo">
            <img src="/templates/admin/order/image/logo.png" alt="">
            <div class="tt">
                <h5>Department Store</h5><br>
                <p>Huế</p><br>
                <p>0989989789</p>
            </div>
        </div>
        <th:block th:object="${orders}">
            <div class="title">
                <h4>HÓA ĐƠN BÁN HÀNG</h4>
                <p id="mhd">Số: <span th:text="*{orderCode}"></span></p>
                <p id="datehd">Ngày: <span th:text="*{#dates.format(createdAt, 'dd/MM/yyyy HH:mm')}"></span></p>
            </div>
            <div class="users">
                <p th:text="'Khách hàng: ' + *{fullName}"></p>
                <p th:text="'Số điện thoại: ' + *{mobile}"></p>
                <p>Địa chỉ: <th:block th:text="*{line2} == '' ? *{line1 + ', ' + city + ', ' + province} : *{line1 + ', ' + line2 + ', ' + city + ', ' + province}"/></p>
            </div>
        </th:block>
        <table>
            <thead>
                <th style="text-align: left;">SL</th>
                <th style="text-align: center;">Đơn giá</th>
                <th style="text-align: right;">Thành tiền</th>
            </thead>
            <tbody class="tbTable" th:each="item : ${orders.orderItems}">
                <tr>
                    <td th:text="*{item.product.title}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;" th:text="${item.quantity}"></td>
                    <td style="text-align: center;" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT') + '₫'}"></td>
                    <td style="text-align: right;" th:text="${#numbers.formatDecimal(item.price * item.quantity, 0, 'COMMA', 0, 'POINT') + '₫'}"></td>
                </tr>
            </tbody>
        </table>
        <div class="total" th:object="${orders}">
            <p>Cộng tiền hàng: <span th:text="${#numbers.formatDecimal(orders.total, 0, 'COMMA', 0, 'POINT') + '₫'}"></span></p>
            <p>Chiết khấu: <span th:text=" ${#numbers.formatDecimal(orders.discount, 0, 'COMMA', 0, 'POINT') + '₫'}"></span></p>
            <p style="font-weight:bold;">Khách phải trả: <span th:text=" ${#numbers.formatDecimal(orders.grandTotal, 0, 'COMMA', 0, 'POINT') + '₫'}"></span></p>
            <p>Tiền khách đưa: <span>...</span></p>
            <p>Trả lại: <span>...</span></p>
        </div>
        <div id="end">Cảm ơn quý khách. Hẹn gặp lại!</div>
    </div>
</th:block>
