<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN" class="sapo-menu-expand sapo-menu-toggle-active">
<head>
    <th:block th:replace="/layout/header.html"/>
    <title>Danh sách khách hàng</title>
    <link rel="stylesheet" href="/assets/admin/css/customer/customer.css"/>
</head>
<body data-new-gr-c-s-check-loaded="14.1085.0" cz-shortcut-listen="true">
<div id="root" style="overflow: auto;">
    <th:block th:replace="/layout/menu.html"/>
    <div class="col-right MuiBox-root jss64 jss40">
        <div class="MuiBox-root jss440" id="header">
            <h3 class="MuiTypography-root MuiTypography-h3">Khách hàng</h3>
            <div class="MuiBox-root jss441">
                <div class="MuiBox-root jss442">
                    <svg class="MuiSvgIcon-root jss443" focusable="false" viewBox="0 0 24 24" color="#A2A8AF"
                         aria-hidden="true">
                        <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87 1.96 0 2.4-.98 2.4-1.59 0-.83-.44-1.61-2.67-2.14-2.48-.6-4.18-1.62-4.18-3.67 0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87-1.5 0-2.4.68-2.4 1.64 0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z"/>
                    </svg>
                    <p class="MuiTypography-root MuiTypography-body1 MuiTypography-colorTextPrimary">Vay vốn kinh
                        doanh</p>
                </div>
                <div class="MuiBox-root jss442">
                    <svg class="MuiSvgIcon-root jss443" focusable="false" viewBox="0 0 20 20" color="#A2A8AF"
                         aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9.99992 0.833374C4.93992 0.833374 0.833252 4.94004 0.833252 10C0.833252 15.06 4.93992 19.1667 9.99992 19.1667C15.0599 19.1667 19.1666 15.06 19.1666 10C19.1666 4.94004 15.0599 0.833374 9.99992 0.833374ZM9.08325 16.4167V14.5834H10.9166V16.4167H9.08325ZM11.9891 10.1559L12.8141 9.31254C13.3366 8.79004 13.6666 8.05671 13.6666 7.25004C13.6666 5.22421 12.0258 3.58337 9.99992 3.58337C7.97409 3.58337 6.33325 5.22421 6.33325 7.25004H8.16659C8.16659 6.24171 8.99158 5.41671 9.99992 5.41671C11.0083 5.41671 11.8333 6.24171 11.8333 7.25004C11.8333 7.75421 11.6316 8.21254 11.2924 8.54254L10.1558 9.69754C9.49575 10.3667 9.08325 11.2834 9.08325 12.2917V12.75H10.9166C10.9166 11.375 11.3291 10.825 11.9891 10.1559Z"
                              fill="currentColor"/>
                    </svg>
                    <p class="MuiTypography-root MuiTypography-body1 MuiTypography-colorTextPrimary">Trợ giúp</p>
                </div>
                <div class="MuiBox-root jss442">
                    <svg class="MuiSvgIcon-root jss443" focusable="false" viewBox="0 0 16 14" color="#A2A8AF"
                         aria-hidden="true">
                        <path
                                d="M8 14C5.10929 11.4904 0 8.36868 0 4.19619C0 1.84632 1.936 0 4.4 0C5.792 0 7.128 0.578989 8 1.55556C8.872 0.578989 10.208 0 11.6 0C14.064 0 16 1.84632 16 4.19619C16 8.36185 10.8971 11.5039 8 14Z"
                                fill="currentColor"/>
                    </svg>
                    <p class="MuiTypography-root MuiTypography-body1" style="color: rgb(24, 37, 55);">Góp ý</p>
                </div>
                <div class="MuiBox-root jss442">
                    <div class=" sb-avatar sb-avatar--text"
                         style="display: inline-block; vertical-align: middle; width: 30px; height: 30px; border-radius: 20px; font-family: Helvetica, Arial, sans-serif;">
                        <div class="sb-avatar__text" title="Phú Nguyễn"
                             style="width: 30px; height: 30px; line-height: initial; text-align: center; color: rgb(255, 255, 255); border-radius: 20px; background: rgb(215, 61, 50);">
                            <div style="display: table; table-layout: fixed; width: 100%; height: 100%; font-size: 10px;">
                  <span style="display: table-cell; vertical-align: middle; white-space: nowrap;">
                    <span>P</span>
                  </span>
                            </div>
                        </div>
                    </div>
                    <p class="MuiTypography-root jss445 MuiTypography-body1 MuiTypography-colorTextPrimary">Phú
                        Nguyễn</p>
                    <svg class="MuiSvgIcon-root arrow-avatar" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="MuiBox-root jss2447">
            <div class="MuiBox-root jss2448">
                <div class="MuiBox-root jss2457">
                    <button class="MuiButtonBase-root MuiButton-root MuiButton-textSizeSmall jss2464" tabindex="0"
                            type="button">
              <span class="MuiButton-label">
                <span class="MuiButton-startIcon MuiButton-iconSizeSmall">
                  <svg class="MuiSvgIcon-root jss2463" focusable="false" viewBox="0 0 14 20" aria-hidden="true">
                    <path d="M6 8.74228e-08L6 12.17L2.41 8.59L1 10L7 16L13 10L11.59 8.59L8 12.17L8 0L6 8.74228e-08Z"
                          fill="currentColor"></path>
                    <path d="M0 18H14V20H0V18Z" fill="currentColor"></path>
                  </svg>
                </span>Xuất file</span>
                        <span class="MuiTouchRipple-root"></span>
                    </button>
                    <button class="MuiButtonBase-root MuiButton-root MuiButton-textSizeSmall jss2464" tabindex="0"
                            type="button">
              <span class="MuiButton-label">
                <span class="MuiButton-startIcon MuiButton-iconSizeSmall">
                  <svg class="MuiSvgIcon-root jss2463" focusable="false" viewBox="0 0 14 20" aria-hidden="true">
                    <path
                            d="M8.00003 16L8.00003 3.83001L11.59 7.41001L13 6.00001L7.00003 1.29539e-06L1.00002 6.00001L2.41002 7.41001L6.00002 3.83001L6.00002 9.91501L6.00002 16L8.00003 16Z"
                            fill="currentColor"></path>
                    <path d="M14 20L1.90735e-06 20L2.08219e-06 18L14 18L14 20Z" fill="currentColor"></path>
                  </svg>
                </span>Nhập file</span>
                        <span class="MuiTouchRipple-root"></span>
                    </button>
                </div>
                <div class="MuiBox-root jss2457">
                    <a herf="/admin/customers/create" type="button">
                        <button id="Sapo-Button-836bcc52-4590-4897-a026-4876dfa7062b"
                                onclick="location.href='/admin/customers/create';" class="fEHNKi">
                            <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                            </svg>
                            <span class="fCIlZX">Thêm khách hàng</span>
                        </button>

                    </a>

                </div>
            </div>
            <div class="MuiBox-root jss2449">
                <div class="MuiBox-root jss2450">
                    <div class="cTUhMx">
                        <div id="scroller" class="hYUFnd">
                            <div class="ieIWRo">
                                <button class="dvtKJo btnShowTableCustomer" id="btnShowTableCustomer">Tất cả khách
                                    hàng
                                </button>
                                <button type="button" id="active btnShowTableCustomerByStatus"
                                        class="btnShowTableCustomerByStatus ceoyok">Đang giao dịch
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="MuiPaper-root jss2056 sapo-grid MuiPaper-elevation1 MuiPaper-rounded MuiPaper-overflow">
                    <div class="MuiTableContainer-root jss2057 sapo-grid-header-wrapper stickyHeader"
                         style="top: 52px;">
                        <table id="showAllCustomerTable" class="table table-hover MuiTable-root jss2058 sapo-grid-header"
                               aria-labelledby="tableTitle"
                               aria-label="enhanced table">
                            <thead class="MuiTableHead-root jss2071">
                            <tr class="MuiTableRow-root MuiTableRow-head">
                                <th class="MuiTableCell-root MuiTableCell-head jss2075 MuiTableCell-alignLeft"
                                    scope="col" colspan="1" rowspan="1">Mã khách hàng
                                </th>
                                <th class="MuiTableCell-root MuiTableCell-head jss2075 MuiTableCell-alignLeft"
                                    scope="col" colspan="1" rowspan="1"><span
                                        class="MuiButtonBase-root MuiTableSortLabel-root jss2072" tabindex="0"
                                        role="button" aria-disabled="false">Tên khách hàng<svg viewBox="0 0 24 24"
                                                                                               fill="none"
                                                                                               xmlns="http://www.w3.org/2000/svg"
                                                                                               width="20" height="20"
                                                                                               font-size="20"
                                                                                               class="UnfoldMoreIcon"
                                                                                               color="#A3A8AF"><path
                                        d="m7 13.582 5 5.416 5-5.416H7ZM7 11.416 12 6l5 5.416H7Z" fill="#A3A8AF"></path></svg></span>
                                </th>
                                <th class="MuiTableCell-root MuiTableCell-head jss2075 MuiTableCell-alignLeft"
                                    scope="col" colspan="1" rowspan="1">Số điện thoại
                                </th>
                                <th class="MuiTableCell-root MuiTableCell-head jss2075 MuiTableCell-alignLeft"
                                    scope="col" colspan="1" rowspan="1">Nhóm khách hàng
                                </th>
                                <th class="MuiTableCell-root MuiTableCell-head jss2075 MuiTableCell-alignRight"
                                    scope="col" colspan="1" rowspan="1"><span
                                        class="MuiButtonBase-root MuiTableSortLabel-root jss2072 right" tabindex="0"
                                        role="button" aria-disabled="false">Công nợ hiện tại<svg viewBox="0 0 24 24"
                                                                                                 fill="none"
                                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                                 width="20" height="20"
                                                                                                 font-size="20"
                                                                                                 class="UnfoldMoreIcon"
                                                                                                 color="#A3A8AF"><path
                                        d="m7 13.582 5 5.416 5-5.416H7ZM7 11.416 12 6l5 5.416H7Z" fill="#A3A8AF"></path></svg></span>
                                </th>
                                <th class="MuiTableCell-root MuiTableCell-head jss2075 MuiTableCell-alignRight"
                                    scope="col" colspan="1" rowspan="1"><span
                                        class="MuiButtonBase-root MuiTableSortLabel-root jss2072 right" tabindex="0"
                                        role="button" aria-disabled="false">Tổng chi tiêu<svg viewBox="0 0 24 24"
                                                                                              fill="none"
                                                                                              xmlns="http://www.w3.org/2000/svg"
                                                                                              width="20" height="20"
                                                                                              font-size="20"
                                                                                              class="UnfoldMoreIcon"
                                                                                              color="#A3A8AF"><path
                                        d="m7 13.582 5 5.416 5-5.416H7ZM7 11.416 12 6l5 5.416H7Z" fill="#A3A8AF"></path></svg></span>
                                </th>

                            </tr>
                            </thead>
                            <tbody class="MuiTableBody-root showAllCustomerInfo" id="showAllCustomerInfo">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="/layout/script.html"/>
<script>
    getAllCustomerInfo();

    function getAllCustomerInfo() {
        $(document).ready(function () {
            console.log("show all customer")
            $("#showAllCustomerTable").DataTable({
                language:
                    {
                        "processing": "Đang xử lý...",
                        "aria": {
                            "sortAscending": ": Sắp xếp thứ tự tăng dần",
                            "sortDescending": ": Sắp xếp thứ tự giảm dần"
                        },
                        "autoFill": {
                            "cancel": "Hủy",
                            "fill": "Điền tất cả ô với <i>%d<\/i>",
                            "fillHorizontal": "Điền theo hàng ngang",
                            "fillVertical": "Điền theo hàng dọc"
                        },
                        "buttons": {
                            "collection": "Chọn lọc <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                            "colvis": "Hiển thị theo cột",
                            "colvisRestore": "Khôi phục hiển thị",
                            "copy": "Sao chép",
                            "copyKeys": "Nhấn Ctrl hoặc u2318 + C để sao chép bảng dữ liệu vào clipboard.<br \/><br \/>Để hủy, click vào thông báo này hoặc nhấn ESC",
                            "copySuccess": {
                                "1": "Đã sao chép 1 dòng dữ liệu vào clipboard",
                                "_": "Đã sao chép %d dòng vào clipboard"
                            },
                            "copyTitle": "Sao chép vào clipboard",
                            "pageLength": {
                                "-1": "Xem tất cả các dòng",
                                "_": "Hiển thị %d dòng",
                                "1": "Hiển thị 1 dòng"
                            },
                            "print": "In ấn",
                            "createState": "Tạo trạng thái",
                            "csv": "CSV",
                            "excel": "Excel",
                            "pdf": "PDF",
                            "removeAllStates": "Xóa hết trạng thái",
                            "removeState": "Xóa",
                            "renameState": "Đổi tên",
                            "savedStates": "Trạng thái đã lưu",
                            "stateRestore": "Trạng thái %d",
                            "updateState": "Cập nhật"
                        },
                        "select": {
                            "cells": {
                                "1": "1 ô đang được chọn",
                                "_": "%d ô đang được chọn"
                            },
                            "columns": {
                                "1": "1 cột đang được chọn",
                                "_": "%d cột đang được được chọn"
                            },
                            "rows": {
                                "1": "1 dòng đang được chọn",
                                "_": "%d dòng đang được chọn"
                            }
                        },
                        "searchBuilder": {
                            "title": {
                                "_": "Thiết lập tìm kiếm (%d)",
                                "0": "Thiết lập tìm kiếm"
                            },
                            "button": {
                                "0": "Thiết lập tìm kiếm",
                                "_": "Thiết lập tìm kiếm (%d)"
                            },
                            "value": "Giá trị",
                            "clearAll": "Xóa hết",
                            "condition": "Điều kiện",
                            "conditions": {
                                "date": {
                                    "after": "Sau",
                                    "before": "Trước",
                                    "between": "Nằm giữa",
                                    "empty": "Rỗng",
                                    "equals": "Bằng với",
                                    "not": "Không phải",
                                    "notBetween": "Không nằm giữa",
                                    "notEmpty": "Không rỗng"
                                },
                                "number": {
                                    "between": "Nằm giữa",
                                    "empty": "Rỗng",
                                    "equals": "Bằng với",
                                    "gt": "Lớn hơn",
                                    "gte": "Lớn hơn hoặc bằng",
                                    "lt": "Nhỏ hơn",
                                    "lte": "Nhỏ hơn hoặc bằng",
                                    "not": "Không phải",
                                    "notBetween": "Không nằm giữa",
                                    "notEmpty": "Không rỗng"
                                },
                                "string": {
                                    "contains": "Chứa",
                                    "empty": "Rỗng",
                                    "endsWith": "Kết thúc bằng",
                                    "equals": "Bằng",
                                    "not": "Không phải",
                                    "notEmpty": "Không rỗng",
                                    "startsWith": "Bắt đầu với",
                                    "notContains": "Không chứa",
                                    "notEndsWith": "Không kết thúc với",
                                    "notStartsWith": "Không bắt đầu với"
                                },
                                "array": {
                                    "equals": "Bằng",
                                    "empty": "Trống",
                                    "contains": "Chứa",
                                    "not": "Không",
                                    "notEmpty": "Không được rỗng",
                                    "without": "không chứa"
                                }
                            },
                            "logicAnd": "Và",
                            "logicOr": "Hoặc",
                            "add": "Thêm điều kiện",
                            "data": "Dữ liệu",
                            "deleteTitle": "Xóa quy tắc lọc",
                            "leftTitle": "Giảm thụt lề",
                            "rightTitle": "Tăng thụt lề"
                        },
                        "searchPanes": {
                            "countFiltered": "{shown} ({total})",
                            "emptyPanes": "Không có phần tìm kiếm",
                            "clearMessage": "Xóa hết",
                            "loadMessage": "Đang load phần tìm kiếm",
                            "collapse": {
                                "0": "Phần tìm kiếm",
                                "_": "Phần tìm kiếm (%d)"
                            },
                            "title": "Bộ lọc đang hoạt động - %d",
                            "count": "{total}",
                            "collapseMessage": "Thu gọn tất cả",
                            "showMessage": "Hiện tất cả"
                        },
                        "datetime": {
                            "hours": "Giờ",
                            "minutes": "Phút",
                            "next": "Sau",
                            "previous": "Trước",
                            "seconds": "Giây",
                            "amPm": [
                                "am",
                                "pm"
                            ],
                            "unknown": "-",
                            "weekdays": [
                                "Chủ nhật"
                            ],
                            "months": [
                                "Tháng Một",
                                "Tháng Hai",
                                "Tháng Ba",
                                "Tháng Tư",
                                "Tháng Năm",
                                "Tháng Sáu",
                                "Tháng Bảy",
                                "Tháng Tám",
                                "Tháng Chín",
                                "Tháng Mười",
                                "Tháng Mười Một",
                                "Tháng Mười Hai"
                            ]
                        },
                        "emptyTable": "Không có dữ liệu",
                        "info": "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                        "infoEmpty": "Hiển thị 0 tới 0 của 0 dữ liệu",
                        "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                        "loadingRecords": "Đang tải...",
                        "paginate": {
                            "first": "Đầu tiên",
                            "last": "Cuối cùng",
                            "next": "Sau",
                            "previous": "Trước"
                        },
                        "search": "Tìm kiếm:",
                        "zeroRecords": "Không tìm thấy kết quả",
                        "decimal": ",",
                        "editor": {
                            "close": "Đóng",
                            "create": {
                                "button": "Thêm",
                                "submit": "Thêm",
                                "title": "Thêm mục mới"
                            },
                            "edit": {
                                "button": "Sửa",
                                "submit": "Cập nhật",
                                "title": "Sửa mục"
                            },
                            "error": {
                                "system": "Đã xảy ra lỗi hệ thống (&lt;a target=\"\\\" rel=\"nofollow\" href=\"\\\"&gt;Thêm thông tin&lt;\/a&gt;)."
                            },
                            "multi": {
                                "info": "Các mục đã chọn chứa các giá trị khác nhau cho đầu vào này. Để chỉnh sửa và đặt tất cả các mục cho đầu vào này thành cùng một giá trị, hãy nhấp hoặc nhấn vào đây, nếu không chúng sẽ giữ lại các giá trị riêng lẻ của chúng.",
                                "noMulti": "Đầu vào này có thể được chỉnh sửa riêng lẻ, nhưng không phải là một phần của một nhóm.",
                                "restore": "Hoàn tác thay đổi",
                                "title": "Nhiều giá trị"
                            },
                            "remove": {
                                "button": "Xóa",
                                "confirm": {
                                    "_": "Bạn có chắc chắn muốn xóa %d hàng không?",
                                    "1": "Bạn có chắc chắn muốn xóa 1 hàng không?"
                                },
                                "submit": "Xóa",
                                "title": "Xóa"
                            }
                        },
                        "infoFiltered": "(được lọc từ _MAX_ dữ liệu)",
                        "searchPlaceholder": "Nhập tìm kiếm...",
                        "stateRestore": {
                            "creationModal": {
                                "button": "Thêm",
                                "columns": {
                                    "search": "Tìm kiếm cột",
                                    "visible": "Khả năng hiển thị cột"
                                },
                                "name": "Tên:",
                                "order": "Sắp xếp",
                                "paging": "Phân trang",
                                "scroller": "Cuộn vị trí",
                                "search": "Tìm kiếm",
                                "searchBuilder": "Trình tạo tìm kiếm",
                                "select": "Chọn",
                                "title": "Thêm trạng thái",
                                "toggleLabel": "Bao gồm:"
                            },
                            "duplicateError": "Trạng thái có tên này đã tồn tại.",
                            "emptyError": "Tên không được để trống.",
                            "emptyStates": "Không có trạng thái đã lưu",
                            "removeConfirm": "Bạn có chắc chắn muốn xóa %s không?",
                            "removeError": "Không xóa được trạng thái.",
                            "removeJoiner": "và",
                            "removeSubmit": "Xóa",
                            "removeTitle": "Xóa trạng thái",
                            "renameButton": "Đổi tên",
                            "renameLabel": "Tên mới cho %s:",
                            "renameTitle": "Đổi tên trạng thái"
                        },
                        "infoThousands": ".",
                        "thousands": "."
                    } ,
                ajax: {
                    contentType: 'application/json',
                    url: "http://localhost:8080/api/customers",
                    type: "GET",
                    dataSrc: ''
                },
                lengthMenu: [
                    [5, 10, 20, -1],
                    ["5", "10", "20", "All"]
                ],
                searching: true,
                destroy: true,
                columns: [
                    {data: 'customerCode'},
                    {data: 'name'},
                    {data: 'phone'},
                    {data: 'customerGroup'},
                    {data: 'debtTotal'},
                    {data: "spendTotal"}],
                columnDefs: [
                    {
                        targets: 0,
                        render: function (data, type, row, meta) {
                            return `<a href="/admin/customers/customerInfo/${row.id}">${row.customerCode}</a>`;
                        }
                    },
                    {
                        targets: 4,
                        render: function (data, type, row, meta) {
                            return `
                                <p class="text-end"
                                           style="padding-right: 6px;">${row.debtTotal != null ? (new Intl.NumberFormat('vi-VN', {
                                style: 'currency',
                                currency: 'VND'
                            }).format(row.debtTotal)) : "0"}</p>

                            `
                        }
                    },
                    {
                        targets: 5,
                        render: function (data, type, row, meta) {
                            return `
                                <p class="text-end"
                                           style="padding-right: 6px;">${row.spendTotal != null ? (new Intl.NumberFormat('vi-VN', {
                                                                    style: 'currency',
                                                                    currency: 'VND'
                            }).format(row.spendTotal)) : "0"}</p>

                            `
                        }
                    },
                    ],
            })
        })
    }


    function getAllCustomerInfoByStatus() {
        $(document).ready(function () {
            console.log("show all customer")
            $("#showAllCustomerTable").DataTable({
                ajax: {
                    contentType: 'application/json',
                    url: "http://localhost:8080/api/customers/findCustomerByStatus",
                    type: "GET",
                    dataSrc: ''
                },
                destroy: true,
                lengthMenu: [
                    [5, 10, 20, -1],
                    ["5", "10", "20", "All"]
                ],
                searching: true,

                columns: [
                    {data: 'customerCode'},
                    {data: 'name'},
                    {data: 'phone'},
                    {data: 'customerGroup'},
                    {data: 'debtTotal'},
                    {data: "spendTotal"}],
                columnDefs: [
                    {
                        targets: 0,
                        render: function (data, type, row, meta) {
                            return `<a href="/admin/customers/customerInfo/${row.id}">${row.customerCode}</a>`;
                        }
                    },
                    {
                        targets: 4,
                        render: function (data, type, row, meta) {
                            return `
                                <p class="text-end"
                                           style="padding-right: 6px;">${row.debtTotal != null ? (new Intl.NumberFormat('vi-VN', {
                                style: 'currency',
                                currency: 'VND'
                            }).format(row.debtTotal)) : "0"}</p>

                            `
                        }
                    },
                    {
                        targets: 5,
                        render: function (data, type, row, meta) {
                            return `
                                <p class="text-end"
                                           style="padding-right: 6px;">${row.spendTotal != null ? (new Intl.NumberFormat('vi-VN', {
                                style: 'currency',
                                currency: 'VND'
                            }).format(row.spendTotal)) : "0"}</p>
                       `
                        }
                    },
                ],
            })
        })
    }

    function deleteEventButtonModelShow() {
        $('.btnShowTableCustomerByStatus').css({
            'color': 'rgb(116, 124, 135)',
            'border': 'none'
        })
        $('.btnShowTableCustomer').css({
            'color': 'rgb(116, 124, 135)',
            'border': 'none'
        })
        $('.showAllCustomerInfo').html("");
    }

    $('.btnShowTableCustomerByStatus').on('click', () => {
        deleteEventButtonModelShow();
        console.log("ok")
        $('.btnShowTableCustomerByStatus').css({
            'color': '#1190ff',
            'border-bottom': '2px solid rgb(0, 136, 255)'
        })
        getAllCustomerInfoByStatus();
    })
    $('.btnShowTableCustomer').on('click', () => {
        deleteEventButtonModelShow();
        console.log("ok")
        $('.btnShowTableCustomer').css({
            'color': '#1190ff',
            'border-bottom': '2px solid rgb(0, 136, 255)'
        })
        getAllCustomerInfo();
    })


</script>
<style>
    #showAllCustomerTable_length{
        float: right;
    }
    #showAllCustomerInfo{
        font-size: 14px;
    }
    .dataTables_wrapper .dataTables_filter {
        float: left;
        text-align: left;
    }
    .jss2075{
        font-size: 16px;
    }
    /*#showAllCustomerTable_filter{*/
    /*    margin-top: -30px;*/
    /*}*/
    .dataTables_info{
        font-size: 15px;
    }
    .showAllCustomerTable_paginate{
        font-size: 15px;
    }
    /*.showAllCustomerTable_length{*/
    /*    font-size: 15px;*/
    /*}*/
    .dataTables_paginate paging_simple_numbers{
        font-size: 15px;

    }
    body {
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        color: #212b35;
        min-width: 1000px;
        font-size: 15px;
        line-height: 1.42857143;
        background-color: #fff;
    }
    .jss2450 {
        display: flex;
        min-height: 59px;
        flex-direction: column;
        background-color: white;
    }
    .dataTables_info{
        margin-left: 1044px;
    }
</style>
</html>