<!doctype html>
<html lang="vi-VN" class="sapo-menu-toggle-active sapo-menu-expand" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="/layout/header :: header"/>
    <link rel="stylesheet" href="/static/assets/admin/css/product/product_list.css"/>
    <title>Danh sách sản phẩm</title>

</head>

<body style="font-size: 12px">
<div>
    <th:block th:replace="/layout/menu :: menu"/>

    <div class="col-right  MuiBox-root jss64 jss40">
        <div class="MuiBox-root jss6915 jss440 "
             id="header">
            <h3 class="MuiTypography-root MuiTypography-h3">Quản lý kho</h3>
            <div class="MuiBox-root jss6916 jss441">
                <div class="MuiBox-root jss6917 jss442">
                    <svg class="MuiSvgIcon-root jss443"
                         focusable="false"
                         viewBox="0 0 24 24"
                         color="#A2A8AF"
                         aria-hidden="true">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87 1.96 0 2.4-.98 2.4-1.59 0-.83-.44-1.61-2.67-2.14-2.48-.6-4.18-1.62-4.18-3.67 0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87-1.5 0-2.4.68-2.4 1.64 0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z">
                        </path>
                    </svg>
                    <p class="MuiTypography-root MuiTypography-body1 MuiTypography-colorTextPrimary">Vay vốn kinh doanh</p>
                </div>
                <div class="MuiBox-root jss6932 jss442">
                    <svg class="MuiSvgIcon-root jss443"
                         focusable="false"
                         viewBox="0 0 20 20"
                         color="#A2A8AF"
                         aria-hidden="true">
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M9.99992 0.833374C4.93992 0.833374 0.833252 4.94004 0.833252 10C0.833252 15.06 4.93992 19.1667 9.99992 19.1667C15.0599 19.1667 19.1666 15.06 19.1666 10C19.1666 4.94004 15.0599 0.833374 9.99992 0.833374ZM9.08325 16.4167V14.5834H10.9166V16.4167H9.08325ZM11.9891 10.1559L12.8141 9.31254C13.3366 8.79004 13.6666 8.05671 13.6666 7.25004C13.6666 5.22421 12.0258 3.58337 9.99992 3.58337C7.97409 3.58337 6.33325 5.22421 6.33325 7.25004H8.16659C8.16659 6.24171 8.99158 5.41671 9.99992 5.41671C11.0083 5.41671 11.8333 6.24171 11.8333 7.25004C11.8333 7.75421 11.6316 8.21254 11.2924 8.54254L10.1558 9.69754C9.49575 10.3667 9.08325 11.2834 9.08325 12.2917V12.75H10.9166C10.9166 11.375 11.3291 10.825 11.9891 10.1559Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <p class="MuiTypography-root MuiTypography-body1 MuiTypography-colorTextPrimary">Trợ giúp</p>
                </div>
                <div class="MuiBox-root jss6933 jss442">
                    <svg class="MuiSvgIcon-root jss443"
                         focusable="false"
                         viewBox="0 0 16 14"
                         color="#A2A8AF"
                         aria-hidden="true">
                        <path d="M8 14C5.10929 11.4904 0 8.36868 0 4.19619C0 1.84632 1.936 0 4.4 0C5.792 0 7.128 0.578989 8 1.55556C8.872 0.578989 10.208 0 11.6 0C14.064 0 16 1.84632 16 4.19619C16 8.36185 10.8971 11.5039 8 14Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <p class="MuiTypography-root MuiTypography-body1"
                       style="color: rgb(24, 37, 55);">Góp ý</p>
                </div>
                <div class="MuiBox-root jss6934  jss442 jss446">
                    <div class=" sb-avatar sb-avatar--text"
                         style="display: inline-block; vertical-align: middle; width: 30px; height: 30px; border-radius: 20px; font-family: Helvetica, Arial, sans-serif;">
                        <div class=" sb-avatar__text"
                             title="Phú Nguyễn"
                             style="width: 30px; height: 30px; line-height: initial; text-align: center; color: rgb(255, 255, 255); border-radius: 20px; background: rgb(215, 61, 50);">
                            <div style="display: table; table-layout: fixed; width: 100%; height: 100%; font-size: 10px;">
                                <span style="display: table-cell; vertical-align: middle; white-space: nowrap;">
                                    <span>P</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p class="MuiTypography-root jss445 MuiTypography-body1 MuiTypography-colorTextPrimary">Phú Nguyễn</p>
                    <svg class="MuiSvgIcon-root arrow-avatar"
                         focusable="false"
                         viewBox="0 0 24 24"
                         aria-hidden="true">
                        <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="MuiBox-root jss6754 jss6732">
            <div class="MuiBox-root jss6755 jss6733">
                <div class="MuiBox-root jss6756 jss6741">
                    <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss6759 MuiButton-textSizeSmall MuiButton-sizeSmall"
                            tabindex="0"
                            type="button">
                      <span class="MuiButton-label">
                        <span class="MuiButton-startIcon MuiButton-iconSizeSmall">
                            <i class="fa-solid fa-print"></i>
                        </span>In tem mã
                      </span>
                        <span class="MuiTouchRipple-root">
                      </span>
                    </button>
                    <div class="MuiBox-root jss6793"
                         style="width: 1px; height: 20px; border-left: 1px solid rgb(211, 213, 215); margin: 0 8px;">
                    </div>

                    <div class="MuiBox-root jss6794 jss6746">
                        <a class="jss6750"
                           href="#">
                            <button id="Sapo-Button-ba11a07a-f11d-475b-9638-2e9af46ee60d"
                                    class="sc-jqUVSM eUKSRG">
                                <span class="sc-papXJ jcEYKF">Loại sản phẩm
                                </span>
                            </button>
                        </a>
                        <div class="MuiBox-root jss6796 jss6747">
                        </div>
                        <a class="jss6750"
                           href="#">
                            <button id="Sapo-Button-99086ae8-8fc4-4ac6-8782-c93192bd428a"
                                    class="sc-jqUVSM eUKSRG">
                                <span class="sc-papXJ jcEYKF">Quản lý khác
                                </span>
                            </button>
                        </a>

                    </div>
                </div>
                <div class="MuiBox-root jss6799 jss6741">
                    <div class="sc-kDDrLX cKOfva">
                        <a id="Sapo-Button-4967a07b-9f63-4c0e-bfd9-3ad94f06186c"
                           class="sc-jqUVSM fEHNKi"
                           href="/admin/products"
                           style="color: white">
                            Xem danh sách sản phẩm
                        </a>

                    </div>
                </div>
            </div>
            <div class="MuiBox-root jss6800 jss6734">
                <div class="MuiBox-root jss6801 jss6735">
                    <div class="sc-hZFzCs cTUhMx">
                        <div id="scroller"
                             class="sc-cHPgQl hYUFnd">
                            <div class="sc-gHLcSH ieIWRo">
                                <button class="sc-KfMfS dvtKJo">Tất cả phiên bản sản phẩm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="MuiBox-root jss6802 jss6736">
                        <div class="sc-hjriPb elNOYP">
                            <div class="sc-himrzO gTRFtW sc-gUAEMC dYvjic">
                                <div class="sc-jIZahH hISLMV Sapo-InputRoot input-group">
                                    <div class="sc-gicCDI sc-ezWOiH bqqjdk kZUaKd">
                                        <svg viewBox="0 0 24 24"
                                             fill="none"
                                             xmlns="http://www.w3.org/2000/svg"
                                             class="sc-hsOonA echsof">
                                            <path fill-rule="evenodd"
                                                  clip-rule="evenodd"
                                                  d="M14.891 13.477a6.002 6.002 0 0 0-9.134-7.72 6 6 0 0 0 7.72 9.134l5.715 5.716 1.415-1.415-5.716-5.715Zm-2.063-6.305a4 4 0 1 1-5.656 5.656 4 4 0 0 1 5.657-5.656Z"
                                                  fill="currentColor">
                                            </path>
                                        </svg>
                                    </div>
                                    <label style="width: 100%" >
                                        <input id="Sapo-TextField-1de6d6a6-f13f-4275-b1b2-a8487207509a"
                                               placeholder="Tìm kiếm theo tên sản phẩm"
                                               type="text"
                                               class="sc-ikZpkk iYDwCJ form-control "
                                               value=""
                                               style="border: solid; height: 35px ; border-color: lightgrey"
                                        >
                                    </label>
                                    <fieldset class="sc-iIPllB iUBRZb"></fieldset>
                                </div>
                            </div>
                        </div>
                        <div role="group"
                             class="MuiButtonGroup-root jss6803">
                            <button class="MuiButtonBase-root MuiButton-root jss6828 MuiButton-text MuiButton-outlined MuiButtonGroup-grouped MuiButtonGroup-groupedHorizontal MuiButtonGroup-groupedOutlined MuiButtonGroup-groupedOutlinedHorizontal"
                                    tabindex="0"
                                    type="button">
                            <span class="MuiButton-label">Loại sản phẩm
                                <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                    <svg class="MuiSvgIcon-root"
                                         focusable="false"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path d="M7 10l5 5 5-5z"></path>
                                    </svg>
                                </span>
                            </span>
                                <span class="MuiTouchRipple-root"></span>
                            </button>
                            <button class="MuiButtonBase-root MuiButton-root jss6828 MuiButton-text MuiButton-outlined MuiButtonGroup-grouped MuiButtonGroup-groupedHorizontal MuiButtonGroup-groupedOutlined MuiButtonGroup-groupedOutlinedHorizontal"
                                    tabindex="0"
                                    type="button">
                            <span class="MuiButton-label">Ngày tạo
                                <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                    <svg class="MuiSvgIcon-root"
                                         focusable="false"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path d="M7 10l5 5 5-5z"></path>
                                    </svg>
                                </span>
                            </span>
                                <span class="MuiTouchRipple-root"></span>
                            </button>
                            <button class="MuiButtonBase-root MuiButton-root jss6828 MuiButton-text MuiButton-outlined MuiButtonGroup-grouped MuiButtonGroup-groupedHorizontal MuiButtonGroup-groupedOutlined MuiButtonGroup-groupedOutlinedHorizontal"
                                    tabindex="0"
                                    type="button">
                            <span class="MuiButton-label">Nhãn hiệu
                                <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                    <svg class="MuiSvgIcon-root"
                                         focusable="false"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true">
                                        <path d="M7 10l5 5 5-5z"></path>
                                    </svg>
                                </span>
                            </span>
                                <span class="MuiTouchRipple-root"></span>
                            </button>
                            <button class="MuiButtonBase-root MuiButton-root jss6828 MuiButton-outlined MuiButtonGroup-grouped MuiButtonGroup-groupedHorizontal MuiButtonGroup-groupedOutlined MuiButtonGroup-groupedOutlinedHorizontal"
                                    tabindex="0"
                                    type="button">
                            <span class="MuiButton-label">Bộ lọc khác
                                <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                    <svg class="MuiSvgIcon-root"
                                         focusable="false"
                                         viewBox="0 0 24 24"
                                         aria-hidden="true"
                                         fill="none"
                                         style="color: rgb(163, 168, 175);">
                                        <path d="M21.6625 2H3V3.55518H21.6625V2Z"
                                              fill="currentColor">
                                        </path>
                                        <path d="M3.37329 4.48828L10.5584 11.7667C10.6517 11.8599 10.7761 11.9844 10.7761 12.1088V21.9999L13.8865 20.3203V12.1088C13.8865 11.9844 14.0109 11.8599 14.1042 11.7667L21.2893 4.48828H3.37329Z"
                                              fill="currentColor">
                                        </path>
                                    </svg>
                                </span>
                            </span>
                                <span class="MuiTouchRipple-root"></span>
                            </button>
                        </div>
                        <button disabled=""
                                id="btn-save-search"
                                class="sc-jqUVSM PGFzi">
                            <span class="sc-papXJ jcEYKF">Lưu bộ lọc</span>
                        </button>
                    </div>
                    <div class="MuiBox-root jss6842"></div>
                </div>

                <div style="font-size:small">
                    <table id="tbProduct" class="table table-hover">
                        <thead>
                        <tr>
                            <th><button class="rounded-circle border-0"><i class="fa-solid fa-gear"></i></button></th>
                            <th><input type="checkbox" value=""></th>
                            <th >Ảnh</th>
                            <th >Tên phiên bản sản phẩm</th>
                            <th >Mã vạch</th>
                            <th >Loại</th>
                            <th >Nhãn hiệu</th>
                            <th >Có thể bán</th>
                            <th >Tồn kho</th>
                            <th >Hàng đang về</th>
                            <th >Hàng đang giao</th>
                            <th >Đang giao dịch</th>
                            <th >Trạng thái</th>
                            <th >Ngày khởi tạo</th>
                            <th >Cập nhật cuối</th>
                            <th >Cho phép bán</th>
                            <th >Áp dụng thuế</th>
                            <th >Giá bán lẻ</th>
                            <th >Giá nhập</th>
                            <th >Giá bán buôn</th>

                        </tr>
                        </thead>
                        <tbody >
                        <tr>
                            <td></td>
                            <td></td>
                            <td> Ảnh</td>
                            <td >Tên phiên bản sản phẩm</td>
                            <td >Mã vạch</td>
                            <td >Loại</td>
                            <td >Nhãn hiệu</td>
                            <td >Có thể bán</td>
                            <td >Tồn kho</td>
                            <td >Hàng đang về</td>
                            <td >Hàng đang giao</td>
                            <td >Đang giao dịch</td>
                            <td >Trạng thái</td>
                            <td >Ngày khởi tạo</td>
                            <td >Cập nhật cuối</td>
                            <td >Cho phép bán</td>
                            <td >Áp dụng thuế</td>
                            <td >Giá bán lẻ</td>
                            <td >Giá nhập</td>
                            <td >Giá bán buôn</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid " style="height: 50px">
                    <div class="row col-md-12 d-flex align-items-center" style="font-size: small">
                        <div class="col-md-4"></div>
                        <div class="col-md-3 text-end">
                            <label class="me-2">Hiển thị</label>
                            <select class="me-2 " id="pageSize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                            <span>Kết quả</span>
                        </div>
                        <div class="col-md-3" id="totalPage">

                        </div>
                        <div class="col-md-2 ">
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination" >
                                    <li class="page-item">
                                        <button class=" btn-outline-primary btn-sm me-2" id="previousPage" style="border: none">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="pageNumber btn-primary btn-sm me-2">
                                            <span id="pageNo">1</span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class=" btn-outline-primary btn-sm " id="nextPage" style="border: none">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/layout/script :: script"/>
<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/static/assets/admin/js/product/app.js"></script>